<script setup lang="ts">
//Imports
import { reactive, onMounted } from 'vue';
import { useRouteParams } from '@vueuse/router';

//Components
import Form from '@Forms/Form.vue';
import { JobFields } from './Job.Fields';
import { ApiAddJob } from '@ApiTalentHive/Job/Add.Job.Api';
import { ApiUpdateJob } from '@/api/talenthive/Job/Update.Job.Api';

//Entities
import { JobInputModel, JobUpdateModel } from 'talenthive-models/lib/Entities';

//Emitter
import { emitter } from '@/bus';

//Functions
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Ref
const fields = reactive([]);
const job_id = useRouteParams('_id');

//Props
const props = defineProps({
    action: {
        type: String,
        required: true
    },
    job: {
        type: Object,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    fields.push(...(await JobFields()));
});

//Emits
const submitForm = async (params: JobInputModel | JobUpdateModel) => {
    try {
        if (props.action === 'update') {
            const _id = <string>job_id.value;
            const updatedJob = await ApiUpdateJob(_id, <JobUpdateModel>params);
            handleSuccess('Job updated with success !');
            emitter.emit('refreshData', updatedJob);
        } else if (props.action === 'add') {
            const newJob = await ApiAddJob(<JobInputModel>params);
            handleSuccess('Job created with success !');
            emitter.emit('refreshData', newJob);
        }
    } catch (error) {
        handleError(error, 'Error while creating/updating your job !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :fields="fields"
        :action="action"
        :fieldValues="job"
    />
</template>

<style scoped></style>
