<script setup lang="ts">
import AppConfig from '@Templates/components/AppConfig.vue';

//Imports
import { useLayout } from '@Templates/composables/layout';
import router from '@/router';
import { computed } from 'vue';

//Variables
const { layoutConfig } = useLayout();

//Template
const template = computed(() => {
    return router.currentRoute.value.meta.template;
});
//Logo
const logoUrl = computed(() => {
    return `/layout/images/${
        layoutConfig.darkTheme.value ? 'logo-dark' : 'logo-dark'
    }.svg`;
});

//Auth Process
</script>

<template>
    <div
        class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    >
        <div
            class="flex flex-column align-items-center justify-content-center w-5 mb-8"
        >
            <h1 class="mb-6">TalentHive</h1>

            <div
                class="w-full"
                style="
                    border-radius: 56px;
                    padding: 0.3rem;
                    background: linear-gradient(
                        180deg,
                        var(--primary-color) 10%,
                        rgba(33, 150, 243, 0) 30%
                    );
                "
            >
                <div
                    class="w-full surface-card py-8 px-3 sm:px-8"
                    style="border-radius: 53px"
                >
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>

    <AppConfig simple />
</template>
