<script setup lang="ts">
import { onMounted, reactive, ref } from 'vue';
import { useRouteQuery } from '@vueuse/router';
import router from '@/router';

//Components
import Box from '@/components/General/Box.Component.vue';
import AppFooter from './components/AppFooter.vue';

//API
import { ApiGetCurrentCandidate } from '@ApiTalentHive/Candidate/Get.Current.Candidate.Api';

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Store
import { CandidateStore } from '@/store';

//Variables
const loading = ref(true);
const access_token = ref(null);
const useCandidateStore = CandidateStore();

//LifeCycles
onMounted(async () => {
    registerToken();
    checkLocalToken();
    await getCandidate();
    loading.value = false;
});

//Methods
const registerToken = () => {
    const query_access_token = useRouteQuery('access_token');
    if (query_access_token.value) {
        localStorage.setItem(
            'candidate_access_token',
            <string>query_access_token.value
        );
        router.push(router.currentRoute.value.path);
    }
};

const checkLocalToken = () => {
    access_token.value = localStorage.getItem('candidate_access_token');
    if (!access_token.value) {
        router.push('/auth/login');
    }
};

const getCandidate = async () => {
    try {
        const candidate = await ApiGetCurrentCandidate(
            <string>access_token.value
        );
        if (!candidate || candidate instanceof Error) throw Error();
        useCandidateStore.setCandidate(candidate);
    } catch (error) {
        handleError(error, 'Cannot find Candidate');
        localStorage.removeItem('candidate_access_token');
        router.push('/auth/login');
    }
};
</script>

<template>
    <div class="layout-candidate grid mx-8 mt-3">
        <Box :noborder="true" :loading="loading">
            <router-view></router-view>
        </Box>
    </div>
    <app-footer></app-footer>
</template>
