<script setup>
import { onMounted, ref, watch } from 'vue';

//Bus
import { emitter } from '@/bus';
import { useRouter } from 'vue-router';

//Components
import AppTopbar from './components/AppTopbar.vue';
import AppFooter from './components/AppFooter.vue';

//Store
import { UserStore } from '@/store';

//API
import { ApiUpdateUser } from '@/api/talenthive/User/Update.User.Api';

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Variables
const router = useRouter();
const userStore = UserStore();
const step = ref(router.currentRoute.value.meta.step);
const pageIndex = ref(0);
const items = ref([
    {
        label: 'Details',
        to: '/onboarding'
    },
    {
        label: 'Password',
        to: '/onboarding/password'
    }
]);

//Methods
const nextPage = (event) => {
    if (pageIndex.value !== items.length - 1) {
        router.push(items.value[pageIndex.value + 1].to);
    }
};
const prevPage = (event) => {
    if (pageIndex.value != 0) {
        router.push(items.value[pageIndex.value - 1].to);
    }
};
const updateStatus = async (status) => {
    try {
        const updatedUser = await ApiUpdateUser(userStore.getUserId, {
            status
        });
        if (updatedUser) {
            // userStore.updateUserStatus(status);
            handleSuccess(
                'You have finished the registration ! Redirection in 2 seconds.'
            );
            setTimeout(() => {
                router.go(0);
            }, 2000);
        }
    } catch (error) {
        handleError(error, 'Cannot Update the status of the user');
    }
};

//LifeCycles
onMounted(() => {
    emitter.on('previousPage', () => {
        prevPage();
    });
    emitter.on('nextPage', () => {
        nextPage();
    });
    emitter.on('validateStep', () => {
        if (step.value != items.value.length) {
            step.value++;
        }
    });
});

//Watch
watch(step, async (newStep) => {
    //Change the status of the user once he has validated all the steps
    if (newStep === items.value.length) {
        updateStatus('active');
    }
});
</script>

<template>
    <div class="layout-wrapper">
        <app-topbar></app-topbar>
        <div class="layout-main-container w-8 flex flex-column m-auto">
            <Box title="Complete your registration">
                <Steps class="pt-3" :model="items" aria-label="Form Steps" />

                <router-view
                    v-slot="{ Component }"
                    @prevPage="prevPage($event)"
                    @nextPage="nextPage($event)"
                >
                    {{ step }}

                    <keep-alive>
                        <component :is="Component" />
                    </keep-alive>
                </router-view>
            </Box>
            <app-footer></app-footer>
        </div>
    </div>
</template>

<style lang="scss" scoped></style>
