<script setup lang="ts">
//Imports
import { reactive, ref, onMounted } from 'vue';
import { useRouteParams } from '@vueuse/router';

//Components
import Form from '@Forms/Form.vue';
import { ApplicationProcessFields } from './ApplicationProcess.Fields';

//API
import { ApiUpdateApplicationProcess } from '@/api/talenthive/ApplicationProcess/Update.Application.Process.Api';
import { ApiAddApplicationProcess } from '@ApiTalentHive/ApplicationProcess/Add.ApplicationProcess.Api';

//Entities
import {
    ApplicationProcessInputModel,
    ApplicationProcessUpdateModel
} from 'talenthive-models/lib/Entities';

//Emitter
import { emitter } from '@/bus';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Ref
const fields = reactive([]);
const options = reactive([]);
const loading = ref(true);
const job_process_id = useRouteParams('_id');

//Props
const props = defineProps({
    action: {
        type: String,
        required: true
    },
    content: {
        type: Object,
        required: false
    },
    loading: {
        type: Boolean,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    const newFields = await ApplicationProcessFields();
    fields.push(...newFields);
    loading.value = false;
});

const submitForm = async (
    params: ApplicationProcessInputModel | ApplicationProcessUpdateModel
): Promise<void | Error> => {
    try {
        if (props.action === 'update') {
            const _id = <string>job_process_id.value;
            const updatedProcess = await ApiUpdateApplicationProcess(
                _id,
                <ApplicationProcessUpdateModel>params
            );
            if (updatedProcess) {
                emitter.emit('updateStatus', {
                    type: 'success',
                    message: 'Process updated with success !'
                });
                emitter.emit('refreshData', updatedProcess);
            }
        } else if (props.action === 'add') {
            const newProcess = await ApiAddApplicationProcess(
                <ApplicationProcessInputModel>params
            );
            if (newProcess) {
                handleSuccess('Process created with success !');
                emitter.emit('refreshData', newProcess);
            }
        }
    } catch (error) {
        handleError(error, 'Error while creating/updating your process !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :loading="loading"
        :fields="fields"
        :options="options"
        :action="action"
        :fieldValues="content"
    />
</template>

<style scoped></style>
