<template>
    <DataTable
        v-model:filters="props.filters"
        :rows="-1"
        :globalFilterFields="globalFilterFields"
        :value="data"
        :loading="loading"
        @row-click="rowClick($event)"
        filterDisplay="menu"
        dataKey="id"
        showGridlines
    >
        <template #header>
            <div class="flex justify-content-between">
                <Button
                    type="button"
                    icon="pi pi-filter-slash"
                    label="Clear"
                    outlined
                    @click="clearFilters()"
                />
                <span class="p-input-icon-left">
                    <i class="pi pi-search" />
                    <InputText
                        v-model="props.filters['global'].value"
                        placeholder="Search"
                    />
                </span>
            </div>
        </template>
        <Column
            v-for="col of columns"
            :key="col.field"
            :type="col.type"
            :field="col.field"
            :header="col.header"
            :sortable="col.sortable"
        >
            <template v-if="col.type === 'rating'" #body="{ data }">
                <Rating readonly :cancel="false" :stars="5" />
            </template>
            <template v-if="col.type === 'array'" #body="{ data }">
                <div v-for="(element, i) in data[col.field]" :key="i">
                    {{ element.name }}
                </div>
            </template>
            <template v-if="col.type === 'date'" #body="{ data }">
                {{ formatDate(data[col.field]) }}
            </template>
            <template v-if="props.filters[col.field]" #filter="{ filterModel }">
                <InputText
                    v-model="filterModel.value"
                    type="text"
                    class="p-column-filter"
                    placeholder="Search"
                />
            </template>
        </Column>
    </DataTable>
</template>

<script setup>
//Imports
import { watch } from 'vue';
import router from '@/router';
import { useDateFormat } from '@vueuse/core';

//Props
const props = defineProps({
    data: {
        type: undefined,
        required: true
    },
    columns: {
        type: Array,
        required: true
    },
    filters: {
        type: Object,
        required: false
    },
    globalFilterFields: {
        type: Object,
        required: false
    },
    link: {
        type: String,
        required: true
    },
    loading: {
        type: Boolean,
        required: true
    }
});

//Methods
const rowClick = (event) => {
    const _id = event.data._id;
    router.push({ path: `${props.link}/${_id}` });
};

//Emit
const emit = defineEmits(['initFilters']);
const clearFilters = () => {
    emit('initFilters');
};

//Watcher
watch(
    () => props.isDataReady,
    (newValue) => {
        loading.value = newValue;
    }
);

//Format
const formatDate = (value) => {
    return value ? useDateFormat(value, 'YYYY-MM-DD').value : '';
};
</script>

<style>
.p-datatable-tbody > tr {
    cursor: pointer;
}
</style>
