<template>
    <Timeline
        :value="events"
        align="alternate"
        class="customized-timeline py-6"
    >
        <template #marker="slotProps">
            <span
                class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
                :style="{ backgroundColor: slotProps.item.color }"
            >
                <i :class="slotProps.item.icon"></i>
            </span>
        </template>
        <template #content="slotProps">
            <Card>
                <template #title>
                    {{ slotProps.item.status }}
                </template>
                <template v-if="slotProps.item.date" #subtitle>
                    {{ formatDate(slotProps.item.date) }}
                </template>
                <template v-if="slotProps.item.duration" #subtitle>
                    {{ slotProps.item.duration }}
                </template>
                <template #content>
                    <p>
                        {{ slotProps.item.description }}
                    </p>
                    {{ slotProps.item.users }}
                </template>
            </Card>
        </template>
    </Timeline>
</template>

<script setup lang="ts">
import { useDateFormat } from '@vueuse/core';

//Props
const props = defineProps({
    events: {
        type: Array,
        required: true
    }
});

const formatDate = (date) => {
    return useDateFormat(date, 'dddd DD MMMM YYYY HH:mm').value;
};
</script>

<style lang="scss" scoped>
@media screen and (max-width: 960px) {
    ::v-deep(.customized-timeline) {
        .p-timeline-event:nth-child(even) {
            flex-direction: row !important;

            .p-timeline-event-content {
                text-align: left !important;
            }
        }

        .p-timeline-event-opposite {
            flex: 0;
        }

        .p-card {
            margin-top: 1rem;
        }
    }
}
</style>
