<script setup lang="ts">
//Bus
import { computed } from 'vue';
import { emitter } from '@/bus';

//Imports
import Form from '@/forms/Form.vue';
import ForumFields from './Forum.Fields';

//Composables
import { getRoles } from '@/composables/getRoles';

//Entities
import { ReplyInputModel } from 'talenthive-models/lib/Entities';

//API
import { ApiAddReply } from '@/api/talenthive/Reply/Add.Reply.Api';

//Submit Form
import { CandidateStore, UserStore } from '@/store';
import { handleError } from '@/functions/handleEvents';

//Variables
const userStore = UserStore();
const candidateStore = CandidateStore();
const { isCandidate } = getRoles();

//Computed
const user_id = computed(() => {
    if (isCandidate.value) return candidateStore.getCandidateId;
    else return userStore.getUserId;
});

//Props
const props = defineProps({
    entity_type: {
        required: true,
        type: String
    },
    entity_id: {
        required: true,
        type: String
    }
});

//Methods
const submitForm = async (params: ReplyInputModel, actions) => {
    try {
        const newReply = await ApiAddReply({
            entity_id: props.entity_id,
            entity_type: props.entity_type,
            user_id: user_id.value,
            content: params.content
        });
        emitter.emit('updateReplies', newReply);
        actions.resetForm();
    } catch (error) {
        handleError(error, 'Error while adding your reply !');
    }
};
</script>

<template>
    <Form @submitForm="submitForm" :fields="ForumFields" />
</template>
