<script setup lang="ts">
import Avatar from '@Components/General/Avatar.Component.vue';
import { useDateFormat } from '@vueuse/core';
import { ComputedRef, computed } from 'vue';

//Entities
import {
    ReplyResponseModel,
    UserResponseModel
} from 'talenthive-models/lib/Entities';

//Computed
const user = <ComputedRef>computed(() => props.reply.user_id);
const fullname = <ComputedRef<string>>(
    computed(() => user.value.firstname + ' ' + user.value.lastname)
);
const avatar = <ComputedRef<string>>computed(() => {
    return user.value?.avatar ? user.value.avatar : '';
});

//Methods
const formatDate = (date) => {
    return useDateFormat(date, 'dddd DD MMMM YYYY HH:mm').value;
};

//Props
const props = defineProps({
    reply: {
        type: Object as () => ReplyResponseModel,
        required: true
    }
});
</script>
<template>
    <div class="grid card mt-3 p-4">
        <div class="col col-4 border-right-2 border-100 pr-3 pl-2">
            <Avatar :image="avatar" :name="fullname" />

            <Divider />
            <div class="py-1 text-xs">
                <div v-if="reply.createdAt">
                    Posted : {{ formatDate(reply.createdAt) }}
                </div>
                <div v-if="reply.updatedAt">
                    Updated : {{ formatDate(reply.updatedAt) }}
                </div>
            </div>
        </div>
        <div class="col col-8 py-3 px-5" v-html="reply.content"></div>
    </div>
</template>
