<script setup lang="ts">
import Avatar from '@Components/General/Avatar.Component.vue';
import ForumForm from '@Forms/Forum/Forum.Form.vue';
import { useDateFormat } from '@vueuse/core';
import { userInfo } from 'os';
import { ref, computed } from 'vue';

//Entities
import { UserResponseModel } from 'talenthive-models/lib/Entities';

//Computed
const fullname = computed(
    () => props.user.firstname + ' ' + props.user.lastname
);

//Methods
const formatDate = (date) => {
    return useDateFormat(date, 'dddd DD MMMM YYYY HH:mm').value;
};

//Props
const props = defineProps({
    createdAt: {
        type: String,
        required: false
    },
    updatedAt: {
        type: String,
        required: false
    },
    user: {
        type: Object as () => UserResponseModel,
        required: true
    }
});
</script>
<template>
    <div class="grid card mt-3 p-4">
        <div class="col col-4 border-right-2 border-100 pr-3 pl-2">
            <Avatar :image="user.avatar" :name="fullname" />

            <Divider />
            <div class="py-1 text-xs">
                <div v-if="createdAt">Posted : {{ formatDate(createdAt) }}</div>
                <div v-if="updatedAt">
                    Updated : {{ formatDate(updatedAt) }}
                </div>
            </div>
        </div>
        <div class="col col-8 py-3 px-5"><slot /></div>
    </div>
</template>
<style lang=""></style>
