<template>
    <Datatable
        :data="data"
        :loading="loading"
        :columns="columns"
        :filters="filters"
        :globalFilterFields="globalFilterFields"
        :link="`${router.currentRoute.value.path}/v`"
        @initFilters="initFilters"
    />
</template>

<script setup lang="ts">
import router from '@/router';
import { reactive, ref, onBeforeMount } from 'vue';
import Datatable from '@/components/Data/Datatable.Component.vue';
import { FilterMatchMode, FilterOperator } from 'primevue/api';

//Lifecycle
onBeforeMount(() => {
    initFilters();
});

//Props
defineProps({
    data: {
        type: undefined,
        required: true
    },
    loading: {
        type: Boolean,
        required: true
    }
});

//Filters
const filters = ref();
const globalFilterFields = ref([
    'candidate_id.firstname',
    'candidate_id.lastname'
]);
const initFilters = () => {
    filters.value = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
        firstname: {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        },
        lastname: {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        },
        function: {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        },
        'company_id.name': {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        },
        role: {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        }
    };
};

//Columns
const columns = reactive([
    {
        field: 'firstname',
        header: 'Firstname',
        type: 'text',
        sortable: true
    },
    {
        field: 'lastname',
        header: 'Lastname',
        type: 'text',
        sortable: true
    },
    {
        field: 'function',
        header: 'Function',
        type: 'text',
        sortable: true
    },
    {
        field: 'company_id',
        header: 'Company',
        type: 'array',
        sortable: true
    },
    {
        field: 'role',
        header: 'Role',
        type: 'text',
        sortable: true
    }
]);
</script>
