<script setup lang="ts">
//Imports
import Form from '@/forms/Form.vue';
import CandidateSettingsFields from './Candidate.Settings.Fields';

//Methods
const submitForm = async () => {};
</script>

<template>
    <Form @submitForm="submitForm" :fields="CandidateSettingsFields" />
</template>
