<script setup lang="ts">
import { onBeforeMount, reactive, ref, computed } from 'vue';
//Imports
import Form from '@/forms/Form.vue';
import CompanySettingsFields from './Company.Settings.Fields.js';

//Api
import { ApiGetCompany } from '@/api/talenthive/Company/Get.Company.Api';
import { ApiUpdateCompany } from '@/api/talenthive/Company/Update.Company.Api';

//Store
import { RecruiterStore } from '@/store';
import { handleError, handleSuccess } from '@/functions/handleEvents';
import {
    CompanyResponseModel,
    CompanyUpdateModel
} from 'talenthive-models/lib/Entities';

//Variables
const loading = ref(true);
const recruiterStore = RecruiterStore();
const company = reactive({} as CompanyResponseModel);

//Computed
const company_id = computed(() => {
    return recruiterStore.getCurrentCompany;
});

//Lifecycles
onBeforeMount(async () => {
    await initData();
});

//Methods
const initData = async () => {
    try {
        const newCompany = <CompanyResponseModel>await ApiGetCompany({
            _id: company_id.value
        });
        Object.assign(company, {
            ...newCompany,
            linkedin: newCompany.urls.linkedin,
            glassdoor: newCompany.urls.glassdoor
        });
        loading.value = false;
    } catch (error) {
        handleError(error, 'Cannot get company details !');
    }
};

const submitForm = async (params: CompanyUpdateModel) => {
    try {
        const companyUpdated = await ApiUpdateCompany(company_id.value, params);
        if (companyUpdated) {
            handleSuccess('Company updated with success !');
        }
    } catch (error) {
        handleError(error, 'Cannot update company !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        action="update"
        :fields="CompanySettingsFields"
        :fieldValues="company"
        :loading="loading"
    />
</template>
