<script setup lang="ts">
//Imports
import Form from '@/forms/Form.vue';
import EmployeeSettingsFields from './Employee.Settings.Fields';

//Methods
const submitForm = async () => {};
</script>

<template>
    <Form @submitForm="submitForm" :fields="EmployeeSettingsFields" />
</template>
