<script setup lang="ts">
//Imports
import Form from '@/forms/Form.vue';
import RecruiterSettingsFields from './Recruiter.Settings.Fields';

//Methods
const submitForm = async () => {};
</script>

<template>
    <Form @submitForm="submitForm" :fields="RecruiterSettingsFields" />
</template>
