<script setup lang="ts">
import { reactive, ref, onBeforeMount, onMounted } from 'vue';

//Components
import { getParamId } from '@Composables/getParamId';
import UserComment from '@Components/User/User.Comment.vue';

//API
import { ApiFindApplicationReview } from '@ApiTalentHive/ApplicationReview/Find.ApplicationReview.Api';

//Entities
import { ApplicationReviewResponseModel } from 'talenthive-models/lib/Entities';

//Variables
const _id = getParamId();
const loading = ref(false);
const key = ref(0);
const reviews = reactive([]);

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';
import BoxComponent from '../General/Box.Component.vue';

//Props
const props = defineProps({
    step_id: {
        required: true,
        type: String
    }
});

//Lifecycle
onBeforeMount(() => {});
onMounted(async () => {
    await getData();
});

//Methods
const getData = async () => {
    try {
        loading.value = true;
        const newReviews = <ApplicationReviewResponseModel[]>(
            await ApiFindApplicationReview(_id.value, props.step_id)
        );

        if (newReviews) {
            reviews.push(...newReviews);
        }
        loading.value = false;
        key.value++;
    } catch (error) {
        handleError(error, 'Cannot Fetch Reviews');
    }
};
</script>

<template>
    <BoxComponent id="listReviews" :loading="loading" :noborder="true">
        <div class="review" v-for="review in reviews" :key="review._id">
            <UserComment
                :createdAt="review.createdAt"
                :updatedAt="review.updatedAt"
                :user="review.user_id"
            >
                <div class="mb-5" v-if="review.description">
                    {{ review.description }}
                </div>
                <Rating
                    v-if="review.rating"
                    :cancel="false"
                    v-model="review.rating"
                    readonly
                />
            </UserComment>
        </div>
    </BoxComponent>
</template>
