<script setup lang="ts">
//Imports
import { onMounted, ref, reactive } from 'vue';
import Form from '@/forms/Form.vue';
import { InviteCandidateFields } from './Invite.Candidate.Fields';

//Entities
import { CandidateInputModel } from 'talenthive-models/lib/Entities';

//Emitter
import { emitter } from '@/bus';

//API
import { ApiInviteCandidate } from '@/api/talenthive/Candidate/Add.Candidate.Api';

//Functions
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Refs
const fields = reactive([]);
const loading = ref(true);

//Life Cycles
onMounted(async () => {
    fields.push(...(await InviteCandidateFields()));
    loading.value = false;
});

//Methods
const submitForm = async (params: CandidateInputModel) => {
    try {
        const newCandidate = await ApiInviteCandidate(params);
        if (newCandidate) {
            emitter.emit('closeDialog');
            handleSuccess('Your Invitation has been sent successfully !');
        }
    } catch (error) {
        handleError(error, 'Something wrong happened with your invitation !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :fields="fields"
        :loading="loading"
        sumbitLabel="Send Invitation"
        ><p>
            Invite your selected Candidate on your plateform to join your job
            application process by email. Once he registers, we will notify you.
        </p></Form
    >
</template>
