<script setup lang="ts">
// //Imports
import { onBeforeMount, reactive, ref, onMounted } from 'vue';
import router from '@/router';

//Components
import Box from '@Components/General/Box.Component.vue';
import JobsApplicationsDatatable from '@/components/Jobs/Jobs.Applications.Datatable.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import Dialog from '@Components/General/Dialog.Component.vue';
import ButtonArchive from '@Components/General/Button.Archive.Component.vue';
import Links from '@Components/General/Links.Component.vue';
//API
import { ApiGetCompanyJob } from '@/api/talenthive/Job/Get.Job.Api';
import { ApiUpdateJob } from '@/api/talenthive/Job/Update.Job.Api';

//Route
import { useRouteParams } from '@vueuse/router';

//Entity
import { JobResponseModel } from 'talenthive-models/lib/Entities';

//Form
import JobsForm from '@/forms/Job/Jobs.Form.vue';

//Emitter
import { emitter } from '@/bus';

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Refs
const job = reactive({} as JobResponseModel);
const key = ref(0);
const _id = ref(null);
const loading = ref(false);

//Life Cycles
onMounted(() => {
    emitter.on('refreshData', (updatedJob) => {
        Object.assign(job, updatedJob);
        key.value++;
    });
});

onBeforeMount(async () => {
    loading.value = true;
    _id.value = <string>useRouteParams('_id').value;
    if (!_id.value) router.push('/');
    const fetchedJob = <JobResponseModel>(
        await ApiGetCompanyJob(<string>_id.value)
    );
    Object.assign(job, fetchedJob);
    loading.value = false;
});

//Methods
const updateComponent = () => {
    key.value++;
};
const archiveElement = async () => {
    try {
        const changeStatus = job.status === 'active' ? 'archived' : 'active';
        const updatedJob = <JobResponseModel>await ApiUpdateJob(_id.value, {
            status: changeStatus
        });
        if (updatedJob) {
            handleSuccess('Status changed with success !');
            job.status = updatedJob.status;
        }
    } catch (error) {
        handleError(error, 'Cannot Archive Job');
    }
};
</script>

<template>
    <Box :loading="loading" :title="job.name">
        <Toolbar>
            <template v-slot:start>
                <Links :url="job.link" />
            </template>
            <template v-slot:end>
                <ButtonArchive
                    :status="job.status"
                    @archiveElement="archiveElement"
                />
                <Dialog
                    :key="key"
                    ref="dialog"
                    title="Update job"
                    buttonLabel="Update"
                    buttonIcon="pi pi-pencil"
                    :update="true"
                    ><JobsForm
                        @updateComponent="updateComponent"
                        action="update"
                        :job="job"
                /></Dialog>
            </template>
        </Toolbar>
        <JobsApplicationsDatatable
            :loading="loading"
            :data="job.applications"
        />
    </Box>
</template>
