<script setup lang="ts">
// //Imports
import { ref, reactive, onMounted, onBeforeMount } from 'vue';

//Entities
import { JobEntity } from 'talenthive-models/lib/Entities';

//Components
import Box from '@Components/General/Box.Component.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import Dialog from '@Components/General/Dialog.Component.vue';
import JobsForm from '@Forms/Job/Jobs.Form.vue';
import JobsDatatable from '@Components/Jobs/Jobs.Datatable.vue';

//Api
import { ApiFetchCompanyJobs } from '@/api/talenthive/Job/Fetch.Company.Jobs.Api';

//Emitter
import { emitter } from '@/bus';

//Refs
const dialog = ref(null);
const key = ref(0);
const data = reactive([]);
const loading = ref(true);

//Life Cycles
onBeforeMount(async () => {
    getData();
});
onMounted(() => {
    emitter.on('refreshData', (newJob) => {
        data.push(newJob);
        key.value++;
    });
});

//Methods
const getData = async () => {
    loading.value = true;
    const newJobs = <[JobEntity]>await ApiFetchCompanyJobs({});
    if (newJobs) {
        data.push(...newJobs);
    }
    loading.value = false;
    key.value++;
};
</script>

<template>
    <Box title="Jobs" ref="refJobs">
        <Toolbar>
            <template v-slot:end>
                <Dialog
                    buttonLabel="Add"
                    buttonIcon="pi pi-plus"
                    :key="key"
                    ref="dialog"
                    title="Add a job"
                    ><JobsForm action="add"
                /></Dialog>
            </template>
        </Toolbar>
        <JobsDatatable :data="data" :loading="loading" />
    </Box>
</template>
