<script lang="ts" setup>
import { toRef, onBeforeMount, PropType } from 'vue';
import { useField, ErrorMessage } from 'vee-validate';

interface SelectFields {
    value: string;
    name: string;
}

//Props
const props = defineProps({
    name: {
        type: String,
        required: true
    },
    type: {
        type: String,
        required: true
    },
    filter: {
        type: Boolean,
        required: false,
        default: true
    },
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: false
    },
    selectedValue: {
        type: [String, Array, Number],
        required: false
    },
    action: {
        type: String,
        required: false
    },
    editable: {
        type: Boolean,
        required: true
    },
    options: {
        required: false,
        type: Array as PropType<Array<SelectFields>>
    }
});

//Refs
const { value, errorMessage } = useField(toRef(props, 'name'));

//Lifecycles
onBeforeMount(() => {
    selectDefaultValue();
});

//Methods
const selectDefaultValue = async () => {
    //Select
    if (props.options.length > 0) {
        if (props.selectedValue) {
            value.value = props.selectedValue;
        } else if (props.options[0]) {
            if (props.type === 'multiselect') {
                // const optionValue: any = props.options[0];
                // value.value = [optionValue.value];
            } else {
                value.value = props.options[0].value;
            }
        }
    }
};
</script>
<template>
    <label
        v-if="label"
        :for="name"
        class="block text-900 text-xl font-medium mb-3"
        >{{ label }}</label
    >
    <Dropdown
        v-model="value"
        v-if="type === 'dropdown'"
        :label="label"
        :disabled="action === 'update' && !editable"
        :options="options"
        :class="{ 'p-invalid': errorMessage }"
        :placeholder="placeholder"
        optionLabel="name"
        optionValue="value"
        class="w-full p-3"
        :filter="filter"
    >
    </Dropdown>
    <MultiSelect
        v-model="value"
        v-if="type === 'multiselect'"
        :options="options"
        optionLabel="name"
        :placeholder="placeholder"
        :class="{ 'p-invalid': errorMessage }"
        optionValue="value"
        :filter="filter"
        class="w-full p-1"
    />

    <div class="mt-3">
        <ErrorMessage class="p-error" :name="name" />
    </div>
</template>

<style>
.p-dropdown-label,
.p-dropdown-header {
    padding: 0px;
}
</style>
