<script setup lang="ts">
import { onMounted, toRef, watch } from 'vue';
import { useField } from 'vee-validate';
import { ErrorMessage } from 'vee-validate';
import { useDebounceFn } from '@vueuse/core';

//API
import { ApiGetUsers } from '@ApiTalentHive/User/Get.Users.Api';
import { UserResponseModel } from 'talenthive-models/lib/Entities';

//Props
const props = defineProps({
    as: {
        type: String,
        required: true
    },
    label: {
        type: String,
        required: false
    },
    addon: {
        type: String,
        required: false
    },
    description: {
        type: String,
        required: false
    },
    selectedValue: {
        type: [String, Date, Number, Boolean],
        required: false
    },
    placeholder: {
        type: String,
        required: false
    },
    name: {
        type: String,
        required: true
    },
    type: {
        type: String,
        default: 'text'
    },
    value: {
        type: [Number, String, Boolean]
    },
    action: {
        type: String,
        required: false
    },
    editable: {
        type: Boolean,
        required: true
    }
});

//Retrieve Values
const { value, errorMessage } = useField(toRef(props, 'name'));

//Life Cycles
onMounted(() => {
    if (props.selectedValue) {
        value.value = props.selectedValue;
    }
});

//Methods
const checkValue = useDebounceFn(async (name) => {
    if (value.value && !errorMessage.value) {
        //For Emails
        if (name === 'email') {
            const checkEmail = <UserResponseModel[]>(
                await ApiGetUsers(`email=${value.value}`)
            );

            if (checkEmail.length > 0) {
                console.log('This Email already exists');

                return 'This Email already exists';
            } else {
                return true;
            }
        }
        return true;
    }
}, 1000);
</script>

<template>
    <label
        v-if="label"
        :for="name"
        class="block text-900 text-xl font-medium mb-3"
        >{{ label }}</label
    >
    <div>
        <InputText
            v-if="type === 'text'"
            v-model="<string>value"
            :disabled="action === 'update' && !editable"
            :aria-describedby="`${name}-help`"
            :class="{ 'p-invalid': errorMessage }"
            :id="name"
            :placeholder="placeholder"
            class="w-full p-3"
        />
        <div v-if="type === 'url'" class="p-inputgroup flex-1">
            <span v-if="addon" class="p-inputgroup-addon px-4">{{
                addon
            }}</span>
            <InputText
                v-model="<string>value"
                :disabled="action === 'update' && !editable"
                :aria-describedby="`${name}-help`"
                :class="{ 'p-invalid': errorMessage }"
                :id="name"
                :placeholder="placeholder"
                class="w-full p-3"
            />
        </div>
        <Password
            v-if="type === 'password'"
            v-model="<string>value"
            toggleMask
            :disabled="action === 'update' && !editable"
            :aria-describedby="`${name}-help`"
            :class="{ 'p-invalid': errorMessage }"
            :id="name"
            :placeholder="placeholder"
        />
        <div v-if="type === 'number'" class="p-inputgroup flex-1">
            <InputNumber
                v-model="<number>value"
                :disabled="action === 'update' && !editable"
                :id="name"
                :placeholder="placeholder"
                style="text-align: right"
                class="w-full"
            />
            <span v-if="addon" class="p-inputgroup-addon px-4">{{
                addon
            }}</span>
        </div>
        <Editor
            v-if="type === 'editor'"
            v-model="<string>value"
            :disabled="action === 'update' && !editable"
            editorStyle="height: 320px"
        />
        <ToggleButton
            v-if="type === 'toggle'"
            v-model="<boolean>value"
            :disabled="action === 'update' && !editable"
        />
        <Textarea
            v-if="type === 'textarea'"
            v-model="<string>value"
            :id="name"
            :placeholder="placeholder"
            style="padding: 1rem"
            class="w-full px-3 py-3 my-1"
        />
        <Rating
            v-if="type === 'rating'"
            v-model="<number>value"
            :cancel="false"
            :stars="5"
        />
        <Calendar
            v-if="type === 'date'"
            dateFormat="dd/mm/yy"
            v-model="<string>value"
            class="w-full"
        />
    </div>
    <div class="mt-3">
        <ErrorMessage :name="name" v-slot="{ message }"
            ><span class="p-error">{{ message }}</span>
        </ErrorMessage>
    </div>
</template>

<style lang="scss">
.p-inputtext {
    width: 100%;
    padding: 1rem;
}

.p-password {
    width: 100%;
}
</style>
@/api/talenthive/User/Get.User.Api
