<script setup lang="ts">
import { onBeforeMount, onMounted, toRef, ref, reactive } from 'vue';
import { useField } from 'vee-validate';
import { ErrorMessage } from 'vee-validate';
//Entities
import { ApplicationProcessStepEntity } from 'talenthive-models/lib/Entities';

//Options
import { getOptionsCompanyUsers } from '@/forms/User/User.Companies.Option';

//Props
const props = defineProps({
    label: {
        type: String,
        required: false
    },
    selectedValue: {
        type: [Array, String],
        Array,
        required: false
    },
    placeholder: {
        type: String,
        required: false
    },
    name: {
        type: String,
        required: true
    },
    action: {
        type: String,
        required: false
    },
    editable: {
        type: Boolean,
        required: true
    }
});

//Ref
const loading = ref(true);
const step: ApplicationProcessStepEntity = {
    name: '',
    step: 1,
    users: [],
    description: '',
    duration: 5
};
const users = reactive([]);

//Retrieve Values
const UseField = useField(toRef(props, 'name'));
let value: any = UseField.value;
const errorMessage = UseField.errorMessage;

//Life Cycles
onBeforeMount(() => {
    if (props.selectedValue) {
        value.value = props.selectedValue;
    } else {
        value.value = [step];
    }
});

onMounted(async () => {
    const newUsers = await getOptionsCompanyUsers();
    Object.assign(users, newUsers);
    loading.value = false;
});

//Methods
const addStep = () => {
    if (value.value.length <= 10) {
        value.value.push({ ...step, step: value.value.length + 1 });
    }
};
const removeStep = () => {
    if (value.value.length > 1) {
        value.value.pop();
    }
};
</script>

<template>
    <label
        v-if="label"
        :for="name"
        class="block text-900 text-xl font-medium mb-2"
        >{{ label }}</label
    >
    <div v-for="(element, index) in value" :key="index">
        <div class="py-3 font-medium">Step {{ value[index].step }}</div>

        <div class="card">
            <InputText
                v-model="value[index].step"
                v-show="false"
                :aria-describedby="`${name}-help`"
                :disabled="true"
                :class="{ 'p-invalid': errorMessage }"
                type="inputNumber"
                id="step"
                placeholder="Step"
                class="w-full px-3 py-3 my-1"
            />

            <InputText
                v-model="value[index].name"
                :aria-describedby="`${name}-help`"
                :disabled="action === 'update' && !editable"
                :class="{ 'p-invalid': errorMessage }"
                type="inputNumber"
                id="name"
                placeholder="Title"
                class="w-full px-3 py-3 my-1"
            />

            <div class="p-inputgroup flex-1">
                <InputNumber
                    v-model="value[index].duration"
                    :class="{ 'p-invalid': errorMessage }"
                    type="InputNumber"
                    id="duration"
                    placeholder="Duration of the step"
                    style="text-align: right"
                    class="w-full px-0 py-0 my-1"
                />
                <span class="p-inputgroup-addon">days</span>
            </div>
            <MultiSelect
                v-model="value[index].users"
                placeholder="Users"
                :options="users"
                :filter="true"
                :class="{ 'p-invalid': errorMessage }"
                :loading="loading"
                optionLabel="name"
                optionValue="value"
                class="w-full"
            />
            <Textarea
                v-model="value[index].description"
                :class="{ 'p-invalid': errorMessage }"
                type="inputText"
                id="description"
                placeholder="Description"
                style="padding: 1rem"
                class="w-full px-3 py-3 my-1"
            />
        </div>
    </div>
    <div class="flex flex-row justify-content-end">
        <Button
            :disabled="value.length === 1 ? true : false"
            class="mt-3 mr-3"
            @click="removeStep"
            >Remove Step</Button
        >
        <Button
            :disabled="value.length >= 10 ? true : false"
            class="mt-3"
            @click="addStep"
            >Add Step</Button
        >
    </div>
    <div class="mt-3">
        <ErrorMessage class="p-error" :name="name" />
    </div>
</template>
