<script setup lang="ts">
import { onMounted, ref } from 'vue';
const items = ref([
    { label: 'Add New', icon: 'pi pi-fw pi-plus' },
    { label: 'Remove', icon: 'pi pi-fw pi-minus' }
]);

onMounted(() => {});
</script>
<template>
    <span class="block text-600 font-medium mb-3">TODAY</span>
    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
            >
                <i class="pi pi-dollar text-xl text-blue-500"></i>
            </div>
            <span class="text-900 line-height-3"
                >Please validate today the step 2 of your candidate John Doe
            </span>
        </li>
        <li class="flex align-items-center py-2">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0"
            >
                <i class="pi pi-download text-xl text-orange-500"></i>
            </div>
            <span class="text-700 line-height-3"
                >You have just declined the application of Alex Smith. Give him
                a feedback !
            </span>
        </li>
    </ul>

    <span class="block text-600 font-medium mb-3">TOMORROW</span>
    <ul class="p-0 m-0 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
            >
                <i class="pi pi-dollar text-xl text-blue-500"></i>
            </div>
            <span class="text-900 line-height-3"
                >The Job "Ux/Ui Designer" has been created. Please invite
                candidates !
            </span>
        </li>
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
            <div
                class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0"
            >
                <i class="pi pi-question text-xl text-pink-500"></i>
            </div>
            <span class="text-900 line-height-3"
                >The employee Olivia Wilson has posted a new comment about the
                Data Analyst position.
            </span>
        </li>
    </ul>
</template>
