<script setup lang="ts">
//Imports
import { reactive, ref, onMounted, PropType, computed } from 'vue';

//Components
import Form from '@Forms/Form.vue';
import { ApplicationStepFields } from './ApplicationStep.Fields';

//API
import { ApiUpdateApplicationStep } from '@ApiTalentHive/ApplicationStep/Update.Application.Step.Api';
import { ApiAddApplicationStep } from '@ApiTalentHive/ApplicationStep/Add.ApplicationStep.Api';

//Emitter
import { emitter } from '@/bus';

//Entities
import {
    ApplicationStepEntity,
    ApplicationStepInputModel,
    ApplicationStepUpdateModel
} from 'talenthive-models/lib/Entities';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Ref
const fields = reactive([]);
const options = reactive([]);
const loading = ref(true);

//Props
const props = defineProps({
    application_id: {
        type: String,
        required: false
    },
    step_id: {
        type: String,
        required: false
    },
    availableSteps: {
        type: Array as PropType<number[]>,
        required: false
    },
    action: {
        type: String,
        required: true
    },
    content: {
        type: Object,
        required: false
    },
    loading: {
        type: Boolean,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    const newFields = await ApplicationStepFields({
        availableSteps: props.availableSteps
    });
    fields.push(...newFields);
    loading.value = false;
});

//Transform Content
const fieldValues = computed(() => {
    if (props.action === 'update') {
        const newStep = props.content as ApplicationStepEntity;

        if (newStep.users) {
            newStep.users = newStep.users.map((u) => u._id);
        }
        return newStep;
    }
});

const submitForm = async (
    params: ApplicationStepInputModel | ApplicationStepUpdateModel
): Promise<void | Error> => {
    try {
        //Add
        if (props.action === 'add') {
            loading.value = true;
            const stepParams: ApplicationStepInputModel = {
                ...(<ApplicationStepInputModel>params),
                application_id: props.application_id
            };
            const newStep = await ApiAddApplicationStep(stepParams);
            if (newStep) {
                handleSuccess('Step created with success !');
                emitter.emit('addStep', newStep);
            }
            loading.value = false;
        }
        //Update
        if (props.action === 'update' && props.step_id) {
            loading.value = true;
            const stepsParams = <ApplicationStepUpdateModel>params;
            const updatedStep = await ApiUpdateApplicationStep(
                props.step_id,
                stepsParams
            );
            if (updatedStep) {
                handleSuccess('Step updated with success !');
                emitter.emit('updateStep', updatedStep);
            }
            loading.value = false;
        }
    } catch (error) {
        handleError(error, 'Error while creating/updating your step !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :loading="loading"
        :fields="fields"
        :options="options"
        :action="action"
        :fieldValues="fieldValues"
    />
</template>

<style scoped></style>
