<script setup lang="ts">
import { onBeforeMount, reactive, ref, ComputedRef, computed } from 'vue';

//Components
import Box from '@/components/General/Box.Component.vue';
import Forum from '@Components/Forum/Forum.vue';
import ApplicationReview from '@Components/Applications/Feedbacks.Application.vue';
import ApplicationStepsList from '@Components/ApplicationSteps/Steps.List.vue';
//Forms

//API
import { ApiGetCandidateApplication } from '@ApiTalentHive/Application/Get.Candidate.Application.Api';

//Composables
import { getParamId } from '@Composables/getParamId';

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Store
import { CandidateStore } from '@/store';
import {
    ApplicationResponseModel,
    CandidateResponseModel,
    JobResponseModel
} from 'talenthive-models/lib/Entities';

//Variables
const loading = ref(true);
const active = ref(0);
const key = ref(0);
const _id = getParamId();
const application = reactive({} as ApplicationResponseModel);
const useCandidateStore = CandidateStore();

//LifeCycles
onBeforeMount(async () => {
    await getApplication();
    loading.value = false;
});

//Computed
const job = <ComputedRef<JobResponseModel>>computed(() => {
    if (application) {
        return application.job_id;
    }
});
const startAt = <ComputedRef<Date>>computed(() => {
    if (application) {
        return application.startAt;
    }
});
const currentStep = <ComputedRef<string>>computed(() => {
    if (application) {
        return application.currentStep.toString();
    }
});
const candidate = <ComputedRef<CandidateResponseModel>>computed(() => {
    if (application) {
        return application.candidate_id;
    }
});
const steps = <ComputedRef<ApplicationResponseModel['steps']>>computed(() => {
    if (application) {
        return application.steps.sort(
            (a, b) => <number>a.step - <number>b.step
        );
    }
});
const title: ComputedRef<string> = computed(() => {
    let title = '';
    if (candidate.value) {
        return `${candidate.value.firstname} ${candidate.value.lastname} - ${job.value.name}`;
    }
    return title;
});
const feedbacks = <ComputedRef<ApplicationResponseModel['feedbacks']>>(
    computed(() => {
        if (application) {
            return application.feedbacks;
        }
    })
);

//Methods
const getApplication = async () => {
    try {
        const newApplication = await ApiGetCandidateApplication(
            _id.value,
            useCandidateStore.getCandidateId
        );

        Object.assign(application, newApplication);
    } catch (error) {
        handleError(error, 'Cannot find Application');
    }
};
</script>

<template>
    <Box :title="title" :loading="loading">
        <TabView v-model:activeIndex="active">
            <TabPanel header="Steps">
                <ApplicationStepsList
                    :application_id="_id"
                    :startAt="startAt"
                    :currentStep="currentStep"
                    :steps="steps"
                    :key="key"
                />
            </TabPanel>
            <TabPanel header="Feedback">
                <ApplicationReview :content="feedbacks" />
            </TabPanel>
            <TabPanel header="Candidate"
                ><Forum entity_type="application_candidate"
            /></TabPanel>
        </TabView>
    </Box>
</template>
