<script setup lang="ts">
// Vue
import {
    onBeforeMount,
    reactive,
    ref,
    onMounted,
    Ref,
    computed,
    ComputedRef
} from 'vue';

//Components
import Box from '@Components/General/Box.Component.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import Dialog from '@Components/General/Dialog.Component.vue';
import ButtonDelete from '@/components/General/Button.Delete.Component.vue';
import Steps from '@Components/ApplicationSteps/Steps.List.vue';
//Route
import router from '@/router';
import { useRouteParams } from '@vueuse/router';

//Entity
import {
    ApplicationProcessEntity,
    ApplicationProcessStepEntity
} from 'talenthive-models/lib/Entities';

//Form
import ApplicationProcessesForm from '@/forms/ApplicationProcess/ApplicationProcess.Form.vue';

//Emitter
import { emitter } from '@/bus';

//API
import { ApiGetApplicationProcess } from '@/api/talenthive/ApplicationProcess/Get.ApplicationProcess.Api';
import { ApiDeleteApplicationProcess } from '@ApiTalentHive/ApplicationProcess/Delete.Application.Process.Api';

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Refs
const process: ApplicationProcessEntity = reactive(
    {} as ApplicationProcessEntity
);
const key = ref(0);
const loading = ref(false);
const _id: Ref<string> = ref();

//Life Cycles
onMounted(() => {
    emitter.on('refreshData', (updatedProcess) => {
        Object.assign(process, updatedProcess);
        key.value++;
    });
});
onBeforeMount(async () => {
    loading.value = true;
    _id.value = <string>useRouteParams('_id').value;
    if (!_id.value) router.push('/');
    await getData();
    loading.value = false;
});

//Computed
const steps = <ComputedRef<ApplicationProcessStepEntity[]>>computed(() => {
    return process.steps;
});

//Methods
const getData = async () => {
    const fetchedProcess = <ApplicationProcessEntity>(
        await ApiGetApplicationProcess({ _id: _id.value })
    );
    if (!fetchedProcess) router.push('/');
    Object.assign(process, fetchedProcess);
};

const deleteElement = async () => {
    try {
        const deletion = await ApiDeleteApplicationProcess(_id.value);
        if (deletion) {
            handleSuccess('Application Process Delete with success !');
            setTimeout(() => router.push('/'), 1500);
        }
    } catch (error) {
        handleError(error, 'Cannot Delete Application Process');
    }
};
</script>

<template>
    <Box ref="refBox" :loading="loading" :title="process.name">
        <Toolbar>
            <template v-slot:end>
                <div class="mr-3">
                    <Dialog
                        :key="key"
                        ref="dialog"
                        title="Update process"
                        buttonLabel="Update"
                        buttonIcon="pi pi-pencil"
                        :update="true"
                        ><ApplicationProcessesForm
                            action="update"
                            :content="process"
                            :loading="loading"
                    /></Dialog>
                </div>
                <ButtonDelete @deleteElement="deleteElement" />
            </template>
        </Toolbar>
        <Steps :steps="steps" :key="key" type="process" />
    </Box>
</template>
