<script setup lang="ts">
// //Imports
import { ref, reactive, onMounted, onBeforeMount } from 'vue';

//Entities
import { ApplicationProcessEntity } from 'talenthive-models/lib/Entities';

//Components
import Box from '@Components/General/Box.Component.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import Dialog from '@Components/General/Dialog.Component.vue';
import ApplicationProcessForm from '@Forms/ApplicationProcess/ApplicationProcess.Form.vue';
import ApplicationProcessesDatatable from '@Components/ApplicationProcess/ApplicationProcesses.Datatable.vue';

//Api
import { ApiFetchCompanyProcesses } from '@/api/talenthive/ApplicationProcess/Fetch.Company.ApplicationProcesses.Api';

//Emitter
import { emitter } from '@/bus';

//Refs
const dialog = ref(null);
const key = ref(0);
const data = reactive([]);
const loading = ref(true);

//Life Cycles
onBeforeMount(async () => {
    getData();
});
onMounted(() => {
    emitter.on('refreshData', (newProcess) => {
        data.push(newProcess);
        key.value++;
    });
});

//Methods
const getData = async () => {
    loading.value = true;
    const newProcesses = <[ApplicationProcessEntity]>(
        await ApiFetchCompanyProcesses()
    );

    if (newProcesses) {
        data.push(...newProcesses);
    }
    loading.value = false;
    key.value++;
};
</script>

<template>
    <Box title="Application Processes" ref="refProcesses">
        <Toolbar>
            <template v-slot:end>
                <Dialog
                    buttonLabel="Add Process"
                    buttonIcon="pi pi-plus"
                    :key="key"
                    ref="dialog"
                    title="Add a Process"
                    ><ApplicationProcessForm action="add"
                /></Dialog>
            </template>
        </Toolbar>
        <ApplicationProcessesDatatable :data="data" :loading="loading" />
    </Box>
</template>
