<template>
    <Datatable
        :data="data"
        :loading="loading"
        :columns="columns"
        :filters="filters"
        :globalFilterFields="globalFilterFields"
        :link="`/applications/v`"
        @initFilters="initFilters"
    />
</template>

<script setup lang="ts">
import { reactive, ref, onBeforeMount } from 'vue';
import Datatable from '@/components/Data/Datatable.Component.vue';
import { FilterMatchMode, FilterOperator } from 'primevue/api';

//Lifecycle
onBeforeMount(() => {
    initFilters();
});

//Props
defineProps({
    data: {
        type: undefined,
        required: true
    },
    loading: {
        type: Boolean,
        required: true
    }
});

//Filters
const filters = ref();
const globalFilterFields = ref([
    'candidate_id.firstname',
    'candidate_id.lastname'
]);
const initFilters = () => {
    filters.value = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
        'candidate_id.firstname': {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        },
        'candidate_id.lastname': {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        }
    };
};

//Columns
const columns = reactive([
    {
        field: 'candidate_id.firstname',
        header: 'Firstname',
        sortable: true
    },
    {
        field: 'candidate_id.lastname',
        header: 'Lastname',
        sortable: true
    },
    { field: 'step', header: 'Step', sortable: true },
    { field: 'status', header: 'Status', sortable: true },
    {
        field: 'createdAt',
        header: 'Created',
        sortable: true,
        type: 'date'
    }
]);
</script>
