<script setup lang="ts">
import { useLayout } from '@/templates/composables/layout';
import { computed } from 'vue';

const { layoutConfig } = useLayout();

const logoUrl = computed(() => {
    return `/layout/images/${
        layoutConfig.darkTheme.value ? 'logo-dark' : 'logo-dark'
    }.svg`;
});
</script>

<template>
    <div class="layout-footer mt-6">
        <img :src="logoUrl" alt="Logo" height="20" class="mr-2" />
        <span class="font-medium ml-2">TalentHive</span>
    </div>
</template>
<style lang="scss" scoped></style>
