<script setup lang="ts">
import { ref, onMounted, computed, reactive, onBeforeMount } from 'vue';
import router from '@/router';

//Composables
import { getRoles } from '@/composables/getRoles';

//Components
import SwitchCompanyForm from '@Forms/Company/Switch.Company.Form.vue';

//Variables
const { isRecruiter, isEmployee, isAdmin } = getRoles();
const applicationsItems = reactive([
    {
        label: 'Applications',
        icon: 'pi pi-fw pi-file',
        to: '/applications',
        roles: ['recruiter', 'employee'],
        separator: false
    },
    {
        label: 'Jobs',
        icon: 'pi pi-fw pi-briefcase',
        to: '/jobs',
        roles: ['recruiter'],
        separator: false
    },
    {
        label: 'Candidates',
        icon: 'pi pi-fw pi-user',
        to: '/candidates',
        roles: ['recruiter'],
        separator: false
    },
    {
        label: 'Processes',
        icon: 'pi pi-fw pi-bars',
        to: '/processes',
        roles: ['recruiter'],
        separator: false
    },
    {
        label: 'Users',
        icon: 'pi pi-fw pi-users',
        to: '/users',
        roles: ['recruiter'],
        separator: false
    }
]);
const applicationsItemsByRoles = reactive([]);
const items = reactive([
    {
        label: 'Dashboard',
        items: !isAdmin ? applicationsItems : applicationsItemsByRoles
    },
    {
        label: 'Support',

        separator: false,
        items: [
            {
                label: 'FAQ',
                icon: 'pi pi-fw pi-book',
                to: '/faq',
                separator: false
            },
            {
                label: 'Need Help ?',
                icon: 'pi pi-fw pi-question',
                to: '/contact-us',
                separator: false
            }
        ]
    }
]);

//Lifecycles
onBeforeMount(() => {
    if (applicationsItems.length > 0)
        for (let i = 0; i < applicationsItems.length; i++) {
            const item = applicationsItems[i];
            if (item.roles.includes('recruiter') && isRecruiter) {
                applicationsItemsByRoles.push(item);
            } else if (item.roles.includes('employee') && isEmployee) {
                applicationsItemsByRoles.push(item);
            }
        }
});
</script>

<template>
    <Menu :model="items" class="pt-3">
        <template #start>
            <button
                @click="router.push('/settings')"
                class="w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround"
            >
                <Avatar
                    image="https://i.ibb.co/LktBdxh/Finale-round-200.png"
                    class="mr-3"
                    size="large"
                    shape="circle"
                />
                <div class="flex flex-column align">
                    <span class="font-bold">Jérôme Charriaud</span>
                    <span>Recruiter</span>
                </div>
            </button>
            <SwitchCompanyForm v-if="isRecruiter" />
        </template>
    </Menu>
</template>

<style lang="scss">
.p-menu {
    width: 100%;
    border: 0px;
}
.p-menuitem-separator {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.p-menuitem-text,
.p-menu-end span,
.pi:before,
.p-menu-start span {
    font-size: 125%;
}

.p-submenu-header {
    font-size: 150%;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    margin-right: 1rem;
}

.p-menu .p-submenu-header {
    padding: 1rem 1rem 0.5rem 0.5rem;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 0.75rem 1rem 1rem 1rem;
}
</style>
