<script setup lang="ts">
import { useLayout } from '@/templates/composables/layout';
import { computed, onBeforeUnmount, onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { UserStore } from '@/store';

//Components
import InviteCandidate from '@/components/Candidate/Invite.Candidate.vue';

const { layoutConfig, onMenuToggle } = useLayout();

//Refs
const outsideClickListener = ref(null);
const topbarMenuActive = ref(false);
const router = useRouter();

onMounted(() => {
    bindOutsideClickListener();
});

onBeforeUnmount(() => {
    unbindOutsideClickListener();
});

const logoUrl = computed(() => {
    return `/layout/images/${
        layoutConfig.darkTheme.value ? 'logo-dark' : 'logo-dark'
    }.svg`;
});

const onTopBarMenuButton = () => {
    topbarMenuActive.value = !topbarMenuActive.value;
};
const onSettingsClick = () => {
    topbarMenuActive.value = false;
    router.push('/documentation');
};
const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});

const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                topbarMenuActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    if (!topbarMenuActive.value) return;

    const sidebarEl = document.querySelector('.layout-topbar-menu');
    const topbarEl = document.querySelector('.layout-topbar-menu-button');

    return !(
        sidebarEl.isSameNode(event.target) ||
        sidebarEl.contains(event.target) ||
        topbarEl.isSameNode(event.target) ||
        topbarEl.contains(event.target)
    );
};
const userStore = UserStore();
const userLogout = async () => {
    await userStore.logoutUser();
};
</script>

<template>
    <div class="layout-topbar">
        <button class="p-link layout-topbar-button" @click="onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <router-link to="/" class="pl-4 layout-topbar-logo">
            <img :src="logoUrl" alt="logo" class="mr-3" />
            <span>TALENTHIVE</span>
        </router-link>

        <InviteCandidate v-if="userStore.isAdmin" />

        <button
            class="p-link layout-topbar-menu-button layout-topbar-button"
            @click="onTopBarMenuButton()"
        >
            <i class="pi pi-ellipsis-v"></i>
        </button>
        <div class="layout-topbar-menu" :class="topbarMenuClasses">
            <button
                @click="router.push('/account')"
                class="p-link layout-topbar-button"
            >
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>

            <button
                @click="router.push('/settings')"
                class="p-link layout-topbar-button"
            >
                <i class="pi pi-cog"></i>
                <span>Settings</span>
            </button>
            <button @click="" class="p-link layout-topbar-button">
                <i class="pi pi-bell"></i>
                <span>Notifications</span>
            </button>
            <button @click="userLogout()" class="p-link layout-topbar-button">
                <i class="pi pi-sign-out" />
                <span>Logout</span>
            </button>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.layout-topbar-logo {
    max-width: 260px;
    margin-right: 30px;
}
</style>
