<template>
    <Avatar
        :image="props.image ? props.image : '/images/avatar.png'"
        :aria-label="props.name"
        class="p-overlay-badge mb-3 mr-2"
        size="xlarge"
        shape="circle"
    />

    <div v-if="name" class="text-lg font-bold pt-3">
        {{ name }}
    </div>
</template>

<script setup>
import Avatar from 'primevue/avatar';
const props = defineProps({
    name: {
        Type: String,
        required: false
    },
    image: {
        Type: String,
        required: false
    }
});
</script>
