<script setup lang="ts">
import Loading from '@Components/General/Loading.Box.Component.vue';
import { ref, computed } from 'vue';
const isComponentReady = ref(false);
const isDataReady = ref(false);

const props = defineProps({
    title: {
        type: String,
        required: false
    },
    noborder: {
        type: Boolean,
        required: false,
        default: false
    },
    column: {
        type: String,
        required: false
    },
    async: {
        type: Boolean,
        required: false
    },
    loading: {
        type: Boolean,
        required: false
    }
});

const classBox = computed(() => {
    switch (props.column) {
        case 'one-full':
            return 'col-12 lg:col-12 xl:col-12';
        case 'one-half':
            return 'col-12 lg:col-6 xl:col-6';
        case 'one-third':
            return 'col-12 lg:col-4 xl:col-4';
        case 'one-quarter':
            return 'col-12 lg:col-3 xl:col-3';
        default:
            return 'col-12 lg:col-12 xl:col-12';
    }
});

const classChildBox = computed(() => {
    if (props.noborder === true) {
        return 'border-none';
    } else {
        return 'card';
    }
});

const changeComponentState = (value) => {
    isComponentReady.value = value;
};
const changeDataState = (value) => {
    isDataReady.value = value;
};
defineExpose({
    changeComponentState,
    changeDataState
});
</script>

<template>
    <div id="box" :class="['pb-6', classBox]">
        <div :class="[classChildBox]">
            <h1 v-if="title" class="block text-900 font-medium pt-2 mb-4">
                {{ title }}
            </h1>
            <Loading
                v-if="(async && !isComponentReady) || loading"
                class="pt-6"
            />
            <div v-else>
                <div class="text-900 font-medium text-xl"><slot /></div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
#box h1 {
    margin-bottom: 0px;
}
</style>
