<template>
    <ConfirmPopup></ConfirmPopup>
    <Button
        @click="confirmEvent($event)"
        icon="pi pi-times"
        label=""
        severity="danger"
    ></Button>
</template>

<script setup>
import { useConfirm } from 'primevue/useconfirm';

const confirm = useConfirm();
const emit = defineEmits(['deleteElement']);

const confirmEvent = (event) => {
    confirm.require({
        target: event.currentTarget,
        message: 'Are you sure you want to delete this ?',
        icon: 'pi pi-times',
        acceptClass: 'p-button-danger',
        accept: () => {
            emit('deleteElement');
        },
        reject: () => {}
    });
};
</script>
