<template>
    <ConfirmPopup></ConfirmPopup>
    <Button
        @click="confirmEvent($event)"
        :icon="status === 'archived' ? 'pi pi-lock-open' : 'pi pi-lock'"
        :label="status === 'archived' ? 'Activate' : 'Archive'"
        class="mr-3"
        :severity="status === 'archived' ? 'success' : 'secondary'"
    ></Button>
</template>

<script setup>
import { computed } from 'vue';
import { useConfirm } from 'primevue/useconfirm';

const props = defineProps({
    status: {
        type: String,
        required: true
    }
});

const confirm = useConfirm();
const emit = defineEmits(['archiveElement']);

const confirmMessage = computed(() => {
    if (props.status === 'archived') {
        return 'Are you sure you want to activate this ?';
    } else {
        return 'Are you sure you want to archive this ?';
    }
});

const confirmEvent = (event) => {
    confirm.require({
        target: event.currentTarget,
        message: confirmMessage,
        accept: () => {
            emit('archiveElement');
        },
        reject: () => {}
    });
};
</script>
