<script setup lang="ts">
import { emitter } from '@/bus';
import { ref, onMounted } from 'vue';

//Refs
const visible = ref(false);
const props = defineProps({
    title: {
        type: String,
        required: true
    },
    update: {
        type: Boolean,
        required: false
    },
    buttonLabel: {
        required: false,
        type: String
    },
    buttonIcon: {
        required: false,
        type: String
    }
});

//Methods
const closeDialog = () => {
    visible.value = false;
};

const openDialog = () => {
    visible.value = true;
};
defineExpose({
    openDialog
});

//Life Cycles
onMounted(() => {
    emitter.on('closeDialog', () => {
        closeDialog();
    });
});
</script>

<template>
    <Button
        v-if="props.buttonLabel || props.buttonIcon"
        :label="props.buttonLabel"
        :icon="props.buttonIcon"
        class="font-bold"
        @click="visible = true"
    />
    <Dialog
        v-model:visible="visible"
        modal
        position="right"
        class="p-dialog-maximized"
        containerVisible="true"
        style="postion: relative"
        :closable="true"
        :closeOnEscape="true"
        :draggable="false"
        :header="title"
        :breakpoints="{ '960px': '75vw', '641px': '100vw' }"
    >
        <slot />
    </Dialog>
</template>

<style lang="scss">
.p-dialog {
    width: 50vw;
    max-width: 50vw;
    margin-right: 0px !important;
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 2rem;
    border-bottom: 1px solid white;
}
</style>
