<template>
    <a v-if="url" target="_blank" :href="formatUrl(props.url)"
        ><Button
            severity="onfo"
            label="Link"
            props.url
            v-if="formatUrl(props.url)"
            ><i class="pi pi-globe mr-3"></i> <span>Link</span></Button
        ></a
    >
</template>

<script setup lang="ts">
const props = defineProps({
    url: {
        required: true,
        type: String
    }
});
const formatUrl = (url) => {
    return `https://${url}`;
};
</script>
