<template>
    <div class="progress-spinner">
        <ProgressSpinner
            class="pt-3 mb-6"
            style="width: 50px; height: 50px"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            aria-label="Custom ProgressSpinner"
        />
    </div>
</template>

<script setup lang="ts"></script>

<style scoped>
.progress-spinner {
    text-align: center;
}
</style>
