<template>
    <div class="progress-spinner" v-if="showLoader">
        <ProgressSpinner
            style="width: 50px; height: 50px"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s"
            aria-label="Custom ProgressSpinner"
        />
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { emitter } from '@/bus';
const showLoader = ref(false);
onMounted(() => {
    emitter.on('updateAppLoading', (value: boolean) => {
        showLoader.value = value;
    });
});
</script>

<style scoped>
.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}
</style>
