<template>
    <Toast />
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import { emitter } from '@/bus';
import { useToast } from 'primevue/usetoast';
//Entities
import { StatusEntity } from 'talenthive-models/lib/Entities';

const toast = useToast();

const getTitle = (status) => {
    if (status.title) return status.title;
    else {
        switch (status.type) {
            case 'success':
                return 'Success';
            case 'error':
                return 'Error';
            case 'info':
                return 'Information';
            case 'warn':
                return 'Warning';
            default:
                return 'Notification';
        }
    }
};

onMounted(() => {
    emitter.on('updateStatus', (status: StatusEntity) => {
        toast.add({
            severity: status.type,
            summary: getTitle(status),
            detail: status.message,
            life: 5000
        });
    });
});
</script>
