<script setup></script>

<template>
    <div class="flex flex-column mb-3">
        <Toolbar>
            <template #start>
                <slot name="start" />
            </template>

            <template #end>
                <slot name="end" />
            </template>
        </Toolbar>
    </div>
</template>

<style scoped>
.p-toolbar {
    background: none;
    border: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}
</style>
