<script setup lang="ts">
import { ref } from 'vue';
import Box from '@/components/General/Box.Component.vue';

//Forms
import UserForm from '@Forms/User/User.Edit.Form.vue';
import PasswordForm from '@/forms/User/Password.Form.vue';

//Refs
const active = ref(0);
</script>

<template>
    <Box title="My Account">
        <TabView v-model:activeIndex="active">
            <TabPanel header="User">
                <UserForm />
            </TabPanel>
            <TabPanel header="Password">
                <PasswordForm />
            </TabPanel>
        </TabView>
    </Box>
</template>

<style scoped></style>
