<script setup>
import Box from '@Components/General/Box.Component.vue';
import { onMounted, ref } from 'vue';

//Components
import NotificationsWidget from '@Components/Widgets/Notifications.Widget.vue';
import EventsWidget from '@Components/Widgets/Events.Widget.vue';
import Bars from '@Components/Charts/Bars.Chart.vue';
import Pie from '@Components/Charts/Pie.Chart.vue';
import StackedBar from '@Components/Charts/Bars.Stacked.Chart.vue';
import PolarArea from '@Components/Charts/Polar.Area.Chart.vue';
import BarsHorizontal from '@Components/Charts/Bars.Horizontal.Chart.vue';

const notifications = ref(null);
const deadlines = ref(null);
const chartBars = ref(null);
const chartPie = ref(null);
const chartStackedBar = ref(null);
const chartPolarArea = ref(null);
const chartBarsHorizontal = ref(null);

onMounted(() => {
    setTimeout(() => {
        notifications.value.changeComponentState(true);
        deadlines.value.changeComponentState(true);
    }, 1000);
    setTimeout(() => {
        chartBars.value.changeComponentState(true);
    }, 1500);
    setTimeout(() => {
        chartPie.value.changeComponentState(true);
        chartStackedBar.value.changeComponentState(true);
        // chartPolarArea.value.changeComponentState(true);
        // chartBarsHorizontal.value.changeComponentState(true);
    }, 2000);
});
</script>

<template>
    <!-- Notifications -->
    <Box
        title="Notifications"
        :async="true"
        column="one-half"
        ref="notifications"
    >
        <NotificationsWidget />
    </Box>

    <!-- Notifications -->
    <Box title="Deadlines" :async="true" column="one-half" ref="deadlines">
        <EventsWidget />
    </Box>

    <!-- Bars -->
    <Box title="Applications" :async="true" column="one-full" ref="chartBars">
        <Bars />
    </Box>

    <!-- Process -->
    <Box title="Candidates" column="one-half" :async="true" ref="chartPie">
        <Pie />
    </Box>

    <!-- Jobs -->
    <Box title="Jobs" :async="true" column="one-half" ref="chartStackedBar">
        <StackedBar />
    </Box>
</template>
