<script setup lang="ts">
import { ref } from 'vue';

//Components
import Box from '@/components/General/Box.Component.vue';

//Store
import { UserStore } from '@/store';

//Composables
import { getRoles } from '@/composables/getRoles';

//Forms
import CompanySettingsForm from '@/forms/Settings/Company.Settings.Form.vue';
import CandidateSettingsForm from '@/forms/Settings/Candidate.Settings.Form.vue';
import RecruiterSettingsForm from '@/forms/Settings/Recruiter.Settings.Form.vue';
import EmployeeSettingsForm from '@/forms/Settings/Employee.Settings.Form.vue';

//Refs
const active = ref(0);

//Variables
const { isRecruiter, isCandidate, isEmployee } = getRoles();
</script>

<template>
    <Box title="Settings">
        <TabView v-model:activeIndex="active">
            <TabPanel v-if="isRecruiter" header="Company"
                ><CompanySettingsForm
            /></TabPanel>
            <TabPanel v-if="isCandidate" header="Candidate">
                <CandidateSettingsForm
            /></TabPanel>
            <TabPanel v-if="isEmployee" header="Employee">
                <EmployeeSettingsForm
            /></TabPanel>
            <TabPanel v-if="isRecruiter" header="Recruiter"
                ><RecruiterSettingsForm />
            </TabPanel>
        </TabView>
    </Box>
</template>

<style scoped></style>
