<script setup lang="ts">
//Components
import InputField from '@Fields/InputField.vue';
import InputSelect from '@Fields/InputSelect.vue';
import InputSteps from '@Fields/InputSteps.vue';

//Method
const getFieldValue = (name, selectedValue) => {
    let value = '';
    if (props.fieldValues && props.fieldValues[name]) {
        value = props.fieldValues[name];
    } else if (selectedValue) {
        value = selectedValue;
    }
    return value;
};

//Props
const props = defineProps({
    fields: {
        type: [Object],
        required: true
    },
    action: {
        type: String,
        required: false
    },
    fieldValues: {
        type: Object,
        required: false
    }
});
</script>

<template>
    <div
        class="mb-5"
        v-for="{
            as,
            addon,
            label,
            description,
            name,
            placeholder,
            filter,
            selectedValue,
            type,
            options,
            editable
        } in fields"
        :key="name"
    >
        <div class="field">
            <InputField
                v-if="as === 'inputText'"
                :addon="addon"
                :as="as"
                :action="action"
                :label="label"
                :name="name"
                :placeholder="placeholder"
                :type="type"
                :selectedValue="getFieldValue(name, selectedValue)"
                :editable="editable"
            />

            <InputSelect
                v-else-if="as === 'inputSelect'"
                :action="action"
                :label="label"
                :name="name"
                :placeholder="placeholder"
                :type="type"
                :filter="filter"
                :options="options"
                :selectedValue="getFieldValue(name, selectedValue)"
                :editable="editable"
            />
            <InputSteps
                v-else-if="as === 'inputSteps'"
                :action="action"
                :label="label"
                :name="name"
                :placeholder="placeholder"
                :selectedValue="getFieldValue(name, selectedValue)"
                :editable="editable"
            />

            <div class="text-sm mt-2">{{ description }}</div>
        </div>
    </div>
</template>
