<script setup lang="ts">
import { reactive, watch } from 'vue';
import { Form } from 'vee-validate';
import * as yup from 'yup';

//Components
import GenerateFields from './Form.GenerateFields.vue';
import Loading from '@/components/General/Loading.Box.Component.vue';

//Props
const props = defineProps({
    fields: {
        type: [Object],
        required: true
    },
    loading: {
        type: Boolean,
        required: true
    },
    action: {
        type: String,
        required: false,
        default: 'add'
    },
    fieldValues: {
        type: Object,
        required: false
    },
    sumbitLabel: {
        type: String,
        required: false
    }
});

//Ref
const schemaRules = reactive(yup.object());

//Methods
const generateFormRules = async () => {
    if (props.fields && props.fields.length > 0) {
        const allRules = {};
        props.fields.map((field) => {
            allRules[field.name] = field.rules;
        });
        Object.assign(schemaRules, yup.object(allRules));
    }
};
const emit = defineEmits(['submitForm', 'refreshData']);
const onSubmit = (values, actions) => {
    emit('submitForm', values, actions);
};

//Watch
watch(
    () => props.loading,
    (newLoadingState) => {
        if (!newLoadingState) {
            generateFormRules();
        }
    },
    { immediate: true }
);
</script>

<template>
    <div v-if="!loading">
        <Form :validation-schema="schemaRules" @submit="onSubmit">
            <div class="mb-4"><slot class="mb-3" /></div>
            <GenerateFields
                :fields="fields"
                :action="action"
                :fieldValues="fieldValues"
            />
            <div class="flex flex-row justify-content-end pt-4">
                <Button
                    :label="sumbitLabel ? sumbitLabel : 'Save'"
                    type="submit"
                    class="bg-primary text-xl px-5"
                />
            </div>
        </Form>
    </div>
    <Loading v-else />
</template>

<style>
.p-inputnumber input {
    text-align: right;
    padding: 1rem;
}
.p-inputgroup-addon {
    padding: 1rem;
}
</style>
