<script setup lang="ts">
import { ref, onMounted, reactive } from 'vue';
import { useDateFormat } from '@vueuse/core';

//Entities
import { ReplyResponseModel } from 'talenthive-models/lib/Entities';

//Bus
import { emitter } from '@/bus';

//Composables
import { getParamId } from '@/composables/getParamId';

//Components
import BoxComponent from '../General/Box.Component.vue';
import ForumForm from '@Forms/Forum/Forum.Form.vue';
import UserReply from '@Components/User/User.Reply.vue';

//API
import { ApiGetReplies } from '@/api/talenthive/Reply/Get.Replies.Api';
import { handleError } from '@/functions/handleEvents';

//Props
const props = defineProps({
    entity_type: {
        required: true,
        type: String
    }
});

//Variables
const loading = ref(true);
const replies = reactive([]);
const entity_id = getParamId();

//Lifecycles
onMounted(async () => {
    await getData();
    loading.value = false;
    emitter.on('updateReplies', (newReply: ReplyResponseModel) => {
        loading.value = true;
        replies.unshift(newReply);
        loading.value = false;
    });
});

//Methods
const getData = async () => {
    try {
        const newReplies = await ApiGetReplies({
            entity_type: props.entity_type,
            entity_id: entity_id.value
        });
        if (newReplies instanceof Error) throw new Error();
        replies.push(...newReplies);
    } catch (error) {
        handleError(error, 'Cannot get replies');
    }
};

//Variables
</script>
<template>
    <ForumForm
        :entity_id="entity_id"
        :entity_type="entity_type"
        :loading="loading"
    />
    <Divider class="my-5" />
    <BoxComponent :loading="loading" :noborder="true">
        <div class="replies">
            <div v-for="reply in replies" :key="reply._id" class="reply">
                <UserReply :reply="reply" />
            </div>
        </div>
    </BoxComponent>
</template>
