<template>
    <Datatable
        :data="data"
        :loading="loading"
        :columns="columns"
        :filters="filters"
        :globalFilterFields="globalFilterFields"
        link="/processes/v"
        @initFilters="initFilters"
    />
</template>

<script setup lang="ts">
import { reactive, ref, onBeforeMount } from 'vue';
import Datatable from '@/components/Data/Datatable.Component.vue';
import { FilterMatchMode, FilterOperator } from 'primevue/api';

//Lifecycle
onBeforeMount(() => {
    initFilters();
});

//Props
defineProps({
    data: {
        type: undefined,
        required: true
    },
    loading: {
        type: Boolean,
        required: true
    }
});

//Filters
const filters = ref();
const globalFilterFields = ref(['name']);
const initFilters = () => {
    filters.value = {
        global: { value: null, matchMode: FilterMatchMode.CONTAINS },
        name: {
            operator: FilterOperator.AND,
            constraints: [
                { value: null, matchMode: FilterMatchMode.STARTS_WITH }
            ]
        }
    };
};

//Columns
const columns = reactive([
    { field: 'name', header: 'Name', sortable: true },
    { field: 'createdAt', header: 'Created', sortable: true, type: 'date' }
]);
</script>
