<script setup lang="ts">
//Imports
import { reactive, ref, onMounted } from 'vue';
import { getParamId } from '@Composables/getParamId';

//Components
import Form from '@Forms/Form.vue';
import { ApplicationReviewFields } from './ApplicationReview.Fields';

//API
import { ApiGetUserApplicationReview } from '@ApiTalentHive/ApplicationReview/Get.User.ApplicationReview.Api';
import { ApiAddApplicationReview } from '@ApiTalentHive/ApplicationReview/Add.ApplicationReview.Api';
import { ApiUpdateApplicationReview } from '@ApiTalentHive/ApplicationReview/Update.Application.Review.Api';

//Entities
import {
    ApplicationReviewResponseModel,
    ApplicationReviewInputModel,
    ApplicationReviewUpdateModel
} from 'talenthive-models/lib/Entities';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Variables
const _id = getParamId();
const loading = ref(true);
const review = reactive({} as ApplicationReviewResponseModel);
const review_id = ref(null);
const fields = reactive([]);
const options = reactive([]);

//Props
const props = defineProps({
    application_id: {
        type: String,
        required: false
    },
    step_id: {
        required: true,
        type: String
    },
    action: {
        type: String,
        required: true
    },
    loading: {
        type: Boolean,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    const newFields = await ApplicationReviewFields();
    fields.push(...newFields);
    await getData();
    loading.value = false;
});

//Methods
const getData = async () => {
    try {
        loading.value = true;
        const newReviews = <ApplicationReviewResponseModel[]>(
            await ApiGetUserApplicationReview(_id.value, props.step_id)
        );

        if (newReviews.length > 0) {
            Object.assign(review, newReviews[0]);
            review_id.value = newReviews[0]._id;
        }
        loading.value = false;
    } catch (error) {
        handleError(error, 'Cannot Fetch Reviews');
    }
};

const submitForm = async (
    params: ApplicationReviewInputModel | ApplicationReviewUpdateModel
): Promise<void | Error> => {
    try {
        //Update
        if (review_id.value) {
            loading.value = true;
            const reviewsParams = <ApplicationReviewUpdateModel>params;
            const updatedReview = await ApiUpdateApplicationReview(
                _id.value,
                review_id.value,
                reviewsParams
            );
            if (updatedReview) {
                handleSuccess('Review updated with success !');
                // emitter.emit('updateReview', updatedReview);
            }
            loading.value = false;
        }
        //Add Review
        else {
            loading.value = true;
            const reviewsParams = <ApplicationReviewInputModel>params;
            const newReview = await ApiAddApplicationReview(
                _id.value,
                props.step_id,
                reviewsParams
            );
            if (newReview) {
                handleSuccess('Review posted with success !');
                Object.assign(review, newReview);
                // emitter.emit('updateReview', updatedReview);
            }
            loading.value = false;
        }
    } catch (error) {
        handleError(error, 'Error while creating or updating your review !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :loading="loading"
        :fields="fields"
        :options="options"
        :action="action"
        :fieldValues="review"
    />
</template>
