<script setup lang="ts">
//Components
import Box from '@Components/General/Box.Component.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import ApplicationsDatatable from '@Components/Applications/Applications.Datatable.vue';
// //Imports
import { ref, reactive, onMounted, onBeforeMount } from 'vue';

//Entities
import { ApplicationResponseModel } from 'talenthive-models/lib/Entities';

//Api
import { ApiFetchCompanyApplications } from '@/api/talenthive/Application/Fetch.Company.Applications';

//Emitter
import { emitter } from '@/bus';

//Refs
const key = ref(0);
const data = reactive([]);
const loading = ref(true);

//Life Cycles
onBeforeMount(async () => {
    getData();
});
onMounted(() => {
    emitter.on('refreshData', (newJob) => {
        data.push(newJob);
        key.value++;
    });
});

//Methods
const getData = async () => {
    loading.value = true;
    const newApplications = <ApplicationResponseModel[]>(
        await ApiFetchCompanyApplications({})
    );

    if (newApplications) {
        data.push(...newApplications);
    }
    loading.value = false;
    key.value++;
};
</script>

<template>
    <Box title="Applications">
        <ApplicationsDatatable :data="data" :loading="loading" />
    </Box>
</template>
@/api/talenthive/Application/Fetch.Company.Applications
