<script setup lang="ts">
import {
    ref,
    reactive,
    computed,
    ComputedRef,
    onBeforeMount,
    onMounted
} from 'vue';

//Components
import Toolbar from '@/components/General/Toolbar.Component.vue';
import Dialog from '@/components/General/Dialog.Component.vue';
import Box from '@/components/General/Box.Component.vue';
import Forum from '@Components/Forum/Forum.vue';
import ApplicationFeedbacks from '@Components/Applications/Feedbacks.Application.vue';
import Steps from '@Components/ApplicationSteps/Steps.List.vue';
//Forms
import ApplicationForm from '@Forms/Application/Application.Form.vue';
import ApplicationStatusForm from '@Forms/Application/Application.Status.Form.vue';

//Emitter
import { emitter } from '@/bus';

//Composables
import { getParamId } from '@/composables/getParamId';

//Api
import { ApiGetApplication } from '@ApiTalentHive/Application/Get.Application.Api';

//Entity
import {
    ApplicationResponseModel,
    ApplicationStepResponseModel,
    CandidateResponseModel,
    JobResponseModel
} from 'talenthive-models/lib/Entities';

//Refs
const key = ref(0);
const active = ref(0);
const application = reactive<ApplicationResponseModel>(
    {} as ApplicationResponseModel
);
const loading = ref(true);
const _id = getParamId();

//Computed
const job = <ComputedRef<JobResponseModel>>computed(() => {
    if (application) {
        return application.job_id;
    }
});
const startAt = <ComputedRef<Date>>computed(() => {
    if (application) {
        return application.startAt;
    }
});
const currentStep = <ComputedRef<string>>computed(() => {
    if (application) {
        return application.currentStep !== undefined
            ? application.currentStep.toString()
            : '1';
    }
});
const candidate = <ComputedRef<CandidateResponseModel>>computed(() => {
    if (application) {
        return application.candidate_id;
    }
});
const feedbacks = <ComputedRef<ApplicationResponseModel['feedbacks']>>(
    computed(() => {
        if (application && application.feedbacks) {
            return application.feedbacks;
        } else return {};
    })
);
const steps = <ComputedRef<ApplicationResponseModel['steps']>>computed(() => {
    if (application) {
        return application.steps.sort(
            (a, b) => <number>a.step - <number>b.step
        );
    }
});
const title: ComputedRef<string> = computed(() => {
    let title = '';
    if (candidate.value) {
        return `${candidate.value.firstname} ${candidate.value.lastname} - ${job.value.name}`;
    }
    return title;
});

//Lifecycle
onBeforeMount(async () => {
    await fetchData();
    loading.value = false;
});

onMounted(() => {
    emitter.on('addStep', (newStep: ApplicationStepResponseModel) => {
        application.steps.push(newStep);
        key.value++;
    });
    emitter.on('updateStep', (updatedStep: ApplicationStepResponseModel) => {
        const findStepIndex = application['steps'].findIndex(
            (s) => s._id === updatedStep._id
        );
        Object.assign(application.steps[findStepIndex], updatedStep);
        key.value++;
    });
    emitter.on('deleteStep', (_id: string) => {
        const findStepIndex = application['steps'].findIndex(
            (s) => s._id === _id
        );
        application.steps.splice(findStepIndex, 1);
        key.value++;
    });
    emitter.on(
        'updateApplication',
        (newApplication: ApplicationResponseModel) => {
            Object.assign(application, newApplication);
            key.value++;
        }
    );
});

//Methods
const fetchData = async () => {
    let fetchedApplication = <ApplicationResponseModel>(
        await ApiGetApplication({ _id: _id.value })
    );
    Object.assign(application, fetchedApplication);
};
</script>

<template>
    <Box :title="title" :loading="loading">
        <Toolbar>
            <template v-slot:start
                ><ApplicationStatusForm
                    action="update"
                    :status="application.status"
                    :loading="loading"
            /></template>
            <template v-slot:end>
                <Dialog
                    :key="key"
                    ref="dialog"
                    title="Update Application"
                    buttonLabel="Update"
                    buttonIcon="pi pi-pencil"
                    :update="true"
                >
                    <ApplicationForm
                        action="update"
                        :content="application"
                        :loading="loading"
                        :key="key"
                /></Dialog>
            </template>
        </Toolbar>

        <TabView v-model:activeIndex="active">
            <TabPanel header="Steps">
                <Steps
                    type="application"
                    :application_id="_id"
                    :startAt="startAt"
                    :currentStep="currentStep"
                    :steps="steps"
                    :key="key"
                />
            </TabPanel>
            <TabPanel header="Feedback">
                <ApplicationFeedbacks :content="feedbacks" />
            </TabPanel>
            <TabPanel header="Team"
                ><Forum entity_type="application_team"
            /></TabPanel>
            <TabPanel header="Candidate"
                ><Forum entity_type="application_candidate"
            /></TabPanel>
        </TabView>
    </Box>
</template>
