<script setup lang="ts">
//Imports
import { ref } from 'vue';
import Form from '@/forms/Form.vue';
import loginFields from './Login.Schema';

//Entities
import { AuthInputModel } from 'talenthive-models/lib/Entities';

//Submit Form
import { UserStore } from '@/store';

//Emitter
import router from '@/router';

//Variables
const loading = ref(false);

//Methods
const userStore = UserStore();
const submitForm = async (loginForm: AuthInputModel) => {
    loading.value = true;
    await userStore.loginUser(loginForm);
    loading.value = false;
};
</script>

<template>
    <div style="position: relative">
        <Form
            @submitForm="submitForm"
            :fields="loginFields"
            :loading="loading"
            sumbitLabel="Submit"
        />

        <div class="mt-6 text-center underline">
            <a
                label="Lost Password ?"
                class="text-small"
                style="cursor: pointer"
                @click="() => router.push('lost-password')"
                >Lost Password ?</a
            >
        </div>
    </div>
</template>
