<script setup lang="ts">
import { computed, ref, reactive, onMounted } from 'vue';

//Imports
import Form from '@/forms/Form.vue';
import router from '@/router';
import { LostPasswordStep1Fields } from './LostPasswordStep1.Fields';
import { LostPasswordStep2Fields } from './LostPasswordStep2.Fields';
import { handleSuccess, handleError } from '@/functions/handleEvents';

//API
import { ApiLostPasswordStep1 } from '@ApiTalentHive/Auth/LostPassword.Step1.Api';
import { ApiLostPasswordStep2 } from '@ApiTalentHive/Auth/LostPassword.Step2.Api';

//Ref
const emailSent = ref(false);
const loading = ref(true);
const schema = reactive({});

//Computed - Step
const step = computed(() => {
    if (token.value) return 'step2';
    else if (emailSent.value) return 'step1EmailSent';
    else return 'step1';
});

//Computed - Token
const token = computed(() => {
    return router.currentRoute.value.query.token;
});

//Computed - Lost Password URL
const LostPasswordURL = computed(() => {
    return window.location.origin + '/auth/lost-password';
});

//Life Cycles
onMounted(() => {
    getSchema();
    loading.value = false;
});

//Methods
const getSchema = () => {
    if (step.value === 'step1') Object.assign(schema, LostPasswordStep1Fields);
    else Object.assign(schema, LostPasswordStep2Fields);
};

const getTitle = () => {
    if (step.value === 'step2') return 'Change your Password';
    else return 'Retrieve your Password';
};

const submitForm = async (params: { email: string; password: string }) => {
    if (step.value === 'step1') {
        await submitFormLostPasswordStep1(params.email);
    } else if (step.value === 'step2') {
        await submitFormLostPasswordStep2(<string>token.value, params.password);
    }
};

//Submit Form : Step 1
const submitFormLostPasswordStep1 = async (email: string) => {
    try {
        loading.value = true;
        //Generate Token
        const url = `${LostPasswordURL.value}`;
        const result = await ApiLostPasswordStep1({ email, url });
        if (result) {
            handleSuccess(
                'You should receive an email with the instructions for changing your password'
            );
            emailSent.value = true;
            loading.value = false;
        } else {
            throw new Error();
        }
    } catch (error) {
        loading.value = false;
    }
};

//Submit Form : Step 2
const submitFormLostPasswordStep2 = async (token: string, password: string) => {
    try {
        loading.value = true;
        //Chang Password Request
        const result = await ApiLostPasswordStep2(token, password);
        if (result) {
            handleSuccess(
                'Your password has been changed with success ! You will be redirected to the login page.'
            );
            setTimeout(() => {
                router.push('/auth/login');
            }, 2000);
            loading.value = false;
        } else throw new Error();
    } catch (error) {
        loading.value = false;
    }
};
</script>

<template>
    <h2 class="mb-6">{{ getTitle() }}</h2>
    <div v-if="emailSent">
        An Email has been sent to you. Please check your inbox.
    </div>
    <Form
        v-else
        @submitForm="submitForm"
        :fields="schema"
        :loading="loading"
        sumbitLabel="Send"
    />
</template>
./LostPasswordStep1.Fields./LostPasswordStep2.Fields
