<script setup lang="ts">
//Imports
import { reactive, ref, onMounted } from 'vue';

import { getParamId } from '@/composables/getParamId';
const _id = getParamId();

//Components
import { ApplicationFields } from './Application.Fields';

//API
import { ApiUpdateApplication } from '@ApiTalentHive/Application/Update.Application.Api';

import { ApplicationStatusFields } from '@Forms/Application/Application.Status.Fields';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Ref
const fields = reactive([]);
const loading = ref(true);
const value = ref(null);

//Props
const props = defineProps({
    action: {
        type: String,
        required: true
    },
    status: {
        type: String,
        required: true
    },
    loading: {
        type: Boolean,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    const newFields = await ApplicationFields();
    value.value = props.status;
    fields.push(...newFields);
    loading.value = false;
});

const changeStatus = async (): Promise<void | Error> => {
    try {
        if (props.action === 'update') {
            const updatedProcess = await ApiUpdateApplication(_id.value, {
                status: value.value
            });
            if (updatedProcess) {
                handleSuccess('Application Status changed with success !');
            } else {
                throw Error();
            }
        }
    } catch (error) {
        handleError(error, 'Error while updating the status !');
    }
};
</script>

<template>
    <Dropdown
        v-model="value"
        @change="changeStatus()"
        :label="ApplicationStatusFields.label"
        :options="ApplicationStatusFields.options"
        :placeholder="ApplicationStatusFields.placeholder"
        optionLabel="name"
        optionValue="value"
        class="w-full p-3"
        :filter="false"
    />
</template>

<style scoped></style>
@/api/talenthive/Application/Update.Application.Api
