<script setup lang="ts">
//Imports
import { reactive, ref, onMounted, computed } from 'vue';

//Components
import Form from '@Forms/Form.vue';
import { ApplicationFields } from './Application.Fields';

//Composables
import { getParamId } from '@/composables/getParamId';

//API
import { ApiUpdateApplication } from '@ApiTalentHive/Application/Update.Application.Api';

//Entities
import { ApplicationUpdateModel } from 'talenthive-models/lib/Entities';

//Emitter
import { emitter } from '@/bus';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Ref
const fields = reactive([]);
const options = reactive([]);
const loading = ref(true);
const _id = getParamId();

//Props
const props = defineProps({
    action: {
        type: String,
        required: true
    },
    content: {
        type: Object,
        required: false
    },
    loading: {
        type: Boolean,
        required: false
    }
});

//Life Cycles
onMounted(async () => {
    const newFields = await ApplicationFields();
    fields.push(...newFields);
    loading.value = false;
});

//Methods
const submitForm = async (
    params: ApplicationUpdateModel
): Promise<void | Error> => {
    try {
        if (props.action === 'update') {
            const updatedApplication = await ApiUpdateApplication(
                _id.value,
                <ApplicationUpdateModel>params
            );
            if (updatedApplication) {
                handleSuccess('Application updated with success !');
                emitter.emit('updateApplication', params);
            }
        }
    } catch (error) {
        handleError(error, 'Error while creating/updating your process !');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :loading="loading"
        :fields="fields"
        :options="options"
        :action="action"
        :fieldValues="content"
    />
</template>

<style scoped></style>
