<script setup lang="ts">
import { ref } from 'vue';
//Imports
import Form from '@/forms/Form.vue';
import FeedbacksFields from './Feedbacks.Application.Fields';

//Entities
import { ApplicationFeedbackEntity } from 'talenthive-models/lib/Entities';

//Props
const props = defineProps({
    content: {
        type: Object as PropType<ApplicationFeedbackEntity>,
        required: true
    }
});

//Submit Form
import { UserStore } from '@/store';

//API
import { ApiUpdateApplication } from '@/api/talenthive/Application/Update.Application.Api';

//Composables
import { getParamId } from '@/composables/getParamId';

//Functions
import { handleSuccess } from '@/functions/handleEvents';
import { PropType } from 'vue';

//Variables
const application_id = getParamId();
const userStore = UserStore();
const loading = ref(false);

//Methods
const submitForm = async (body: ApplicationFeedbackEntity) => {
    try {
        Object.assign(body, { createdBy: userStore.getUserId });
        const updatedApplication = await ApiUpdateApplication(
            application_id.value,
            { feedbacks: body }
        );
        if (updatedApplication) {
            handleSuccess('Feedback updated with success !');
        }
    } catch (error) {
        handleSuccess('Something went wrong while updating the feedback !');
    }
};
</script>

<template>
    <Form
        action="update"
        @submitForm="submitForm"
        :fields="FeedbacksFields"
        :fieldValues="content"
        :loading="loading"
    />
</template>
