<script setup lang="ts">
import { PropType } from 'vue';
import ApplicationFeedbackForm from '@/forms/Application/Feedbacks.Application.Form.vue';
import { ApplicationFeedbackEntity } from 'talenthive-models/lib/entities/application/Application.Entity';

//Composables
import { getRoles } from '@/composables/getRoles';

//Variables
const { isRecruiter, isEmployee, isCandidate } = getRoles();

//Props
const props = defineProps({
    content: {
        type: Object as PropType<ApplicationFeedbackEntity>,
        required: true
    }
});
</script>
<template>
    <div v-if="isCandidate || isEmployee">
        <ul id="listFeedbacks" class="pl-0">
            <li v-if="content.feedback_reasons">
                <h2>Reasons</h2>
                <span>
                    {{ content.feedback_reasons }}
                </span>
            </li>
            <li v-if="content.feedback_strenghts">
                <h2>Strenghts</h2>
                <span>
                    {{ content.feedback_strenghts }}
                </span>
            </li>
            <li v-if="content.feedback_improvements">
                <h2>Reasons</h2>
                <span>
                    {{ content.feedback_improvements }}
                </span>
            </li>
            <li v-if="content.request_glassdoor">
                <h2>Bring a feedback to your application</h2>
                <span>
                    {{ content.request_glassdoor }}
                </span>
            </li>
        </ul>
    </div>
    <ApplicationFeedbackForm v-if="isRecruiter" :content="content" />
</template>

<style lang="scss">
#listFeedbacks li {
    list-style: none;
    margin-bottom: 1rem;
}
</style>
