<script setup lang="ts">
import { ref, onMounted, reactive } from 'vue';
//Imports
import Form from '@/forms/Form.vue';
import { PasswordFields } from './Password.Fields';

//Bus
import { emitter } from '@/bus';

//Store
import { UserStore } from '@/store';

//API
import { handleError, handleSuccess } from '@/functions/handleEvents';
import { ApiUpdateUserPassword } from '@/api/talenthive/User/Update.User.Password.Api';

//Variables
const loading = ref(true);
const userStore = UserStore();
const fieldValues = reactive({});

//Lifecycles
onMounted(async () => {
    loading.value = false;
});

//Methods
const submitForm = async (params: { password: string }) => {
    try {
        const updatedUser = await ApiUpdateUserPassword(
            userStore.getUserId,
            params.password
        );
        if (updatedUser) {
            handleSuccess('Password updated with success !');
            emitter.emit('validateStep');
        }
    } catch (error) {
        handleError(error, 'Update failed ! Please try again later.');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :fields="PasswordFields"
        :fieldValues="fieldValues"
        :loading="loading"
    />
</template>
