<script setup lang="ts">
import { onMounted, reactive, ref } from 'vue';
//Imports
import Form from '@/forms/Form.vue';
import { UserAddFields } from './User.Add.Fields';

//API
import { ApiAddUser } from '@ApiTalentHive/User/Add.User.Api';

//Entities

//Functions
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Variables
const loading = ref(true);

//Methods
const submitForm = async (params) => {
    try {
        const newUser = await ApiAddUser({
            ...params,
            company_id: [params.company_id],
            role_id: [params.role_id]
        });
        if (newUser) {
            handleSuccess('New user created with success!');
        }
    } catch (error) {
        handleError(error, 'Cannot create new user');
    }
};

//Variables
const fields = reactive([]);

//Lifecycle
onMounted(async () => {
    fields.push(...(await UserAddFields()));
    loading.value = false;
});
</script>

<template>
    <Form @submitForm="submitForm" :fields="fields" :loading="loading" />
</template>
