<script setup lang="ts">
import { ref, onMounted, reactive } from 'vue';
//Imports
import Form from '@/forms/Form.vue';
import { UserEditFields } from './User.Edit.Fields';

//Entities
import { UserUpdateModel } from 'talenthive-models/lib/Entities';

//Bus
import { emitter } from '@/bus';

//Store
import { UserStore } from '@/store';

//API
import { ApiUpdateUser } from '@ApiTalentHive/User/Update.User.Api';
import { ApiGetCurrentUser } from '@ApiTalentHive/User/Get.CurrentUser.Api';
import { handleError, handleSuccess } from '@/functions/handleEvents';

//Variables
const loading = ref(true);
const userStore = UserStore();
const fieldValues = reactive({});

//Lifecycles
onMounted(async () => {
    await getData();
    loading.value = false;
});

//Methods
const getData = async () => {
    try {
        const newUser = await ApiGetCurrentUser();
        if (newUser instanceof Error) throw Error();

        Object.assign(fieldValues, {
            firstname: newUser.firstname,
            lastname: newUser.lastname,
            function: newUser?.function,
            linkedin: newUser?.urls.linkedin
        });
    } catch (error) {
        handleError(error, 'Cannot find user');
    }
};
const submitForm = async (params: UserUpdateModel) => {
    try {
        const updatedUser = await ApiUpdateUser(userStore.getUserId, params);
        if (updatedUser) {
            handleSuccess('Details updated with success !');
            emitter.emit('nextPage');
            emitter.emit('validateStep');
        }
    } catch (error) {
        handleError(error, 'Update failed ! Please try again later.');
    }
};
</script>

<template>
    <Form
        @submitForm="submitForm"
        :fields="UserEditFields"
        :fieldValues="fieldValues"
        :loading="loading"
    />
</template>
@/api/talenthive/User/Get.CurrentUser.Api
