<script setup lang="ts">
import Dialog from '@Components/General/Dialog.Component.vue';
import InviteCandidateFrom from '@Forms/Candidate/InviteCandidate.Form.vue';
</script>
<template>
    <Dialog
        ref="dialog"
        buttonLabel="Register Candidate"
        buttonIcon="pi pi-user-plus"
        title="Register Candidate"
    >
        <InviteCandidateFrom />
    </Dialog>
</template>
