<script setup lang="ts">
//Imports
import { reactive, ref, onMounted, computed } from 'vue';

//Function
import { handleSuccess, handleError } from '@/functions/handleEvents';

//Options
import { getOptionsUserCompanies } from '@Forms/Company/User.Companies.Option';

//Store
import { UserStore, RecruiterStore } from '@/store';

//Router
import router from '@/router';

//Ref
const loading = ref(false);
const value = ref(null);
const options = reactive([]);
const recruiterStore = RecruiterStore();
const userStore = UserStore();

//Computed
const countCompanies = computed(() => {
    return userStore.getCompanies.length;
});

//Life Cycles
onMounted(async () => {
    if (countCompanies.value > 1) {
        loading.value = true;
        const newOptions = await getOptionsUserCompanies();
        Object.assign(options, newOptions);
        initValue();
        loading.value = false;
    }
});

const initValue = () => {
    const company_id = recruiterStore.getCurrentCompany;
    if (company_id) {
        value.value = company_id;
    }
};

const changeCompany = async (value): Promise<void | Error> => {
    try {
        recruiterStore.setCurrentCompany(value);
        localStorage.setItem('current_company_id', value);
        handleSuccess('Changing of company...');
        setTimeout(() => router.go(0), 500);
    } catch (error) {
        handleError(error, 'Error while updating the status !');
    }
};
</script>

<template>
    <Dropdown
        v-model="value"
        v-if="countCompanies > 1"
        @change="changeCompany(value)"
        :filter="true"
        :loading="loading"
        :options="options"
        optionLabel="name"
        optionValue="value"
        placeholder="Select a Company"
        id="switchCompany"
        class="mt-3 mb-0 pa-3 w-full"
    />
</template>

<style>
#switchCompany .p-dropdown-label,
#switchCompany .p-dropdown-header {
    padding: 0.75rem 1rem;
}
</style>
