<script setup lang="ts">
//Components
import Status from '@Components/General/Status.Component.vue';
import Loading from '@Components/General/Loading.App.Component.vue';
import { AppStore } from '@/store';

//Composable
const appStore = AppStore();
</script>

<template>
    <div id="appTalentHive">
        <router-view v-if="appStore.isAppReady" />
    </div>
    <Loading />
    <Status />
</template>
