<script setup lang="ts">
//Components
import Box from '@Components/General/Box.Component.vue';
import Toolbar from '@Components/General/Toolbar.Component.vue';
import Dialog from '@/components/General/Dialog.Component.vue';
import UserDatatable from '@/components/User/User.Datatable.vue';

//Imports
import { ref, reactive, onMounted, onBeforeMount } from 'vue';

//Composables
import { getRoles } from '@/composables/getRoles';

//Forms
import UserAddForm from '@Forms/User/User.Add.Form.vue';

//Entities
import { UserResponseModel } from 'talenthive-models/lib/Entities';

//Api
import { ApiFetchCompanyUsersByRoles } from '@ApiTalentHive/User/Fetch.Company.UsersByRoles.Api';

//Emitter
import { emitter } from '@/bus';

//Refs
const dialog = ref(null);
const key = ref(0);
const data = reactive([]);
const loading = ref(true);
const { isRecruiter } = getRoles();

//Life Cycles
onBeforeMount(async () => {
    getData();
});
onMounted(() => {
    emitter.on('refreshData', (newJob) => {
        data.push(newJob);
        key.value++;
    });
});

//Methods
const getData = async () => {
    loading.value = true;
    const newUsers = <UserResponseModel[]>(
        await ApiFetchCompanyUsersByRoles({ roles: ['recruiter', 'employee'] })
    );

    if (newUsers) {
        data.push(...newUsers);
    }
    loading.value = false;
    key.value++;
};
</script>

<template>
    <Box title="Users" v-if="isRecruiter">
        <Toolbar>
            <template v-slot:end>
                <Dialog
                    buttonLabel="Add"
                    buttonIcon="pi pi-plus"
                    :key="key"
                    ref="dialog"
                    title="Add User"
                    ><UserAddForm
                /></Dialog>
            </template>
        </Toolbar>
        <UserDatatable :data="data" :loading="loading" />
    </Box>
</template>
